.env
__pycache__/*
./test/
init/*
templates/tables/*
templates/plots/*
resultsBin/full*
*.csv
shell*
.vscode/
shell.ipynb
.vs
env/*
envForIPython/*
.idea/*
model/__pycache__/*
services/__pycache__/*
tests/__pycache__/*
static/img/factorAnalysis/*
logs/*
logs/full_logs/*