/* NEW MENU */

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a393eb;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #27296d;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: darkmagenta;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* END NEW MENU */

body {
  background: dodgerblue linear-gradient(22deg, #1a2c5b, #3e4e88, #b8dff0) fixed;
  color: white;
  text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
  margin: 0px;    
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

.header {
  grid-area: header;
  text-align: center;
}

#invisable1, 
#invisable2 {
  visibility: hidden;
}

.fullCalcSubmit {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fullCalcSubmit:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#headerFullCalc {
  font-weight: 900;
  color: beige;
  font-size: calc(2rem + 0.4vw);
}

#introFullCalc {
  font-weight: bolder;
  color: beige;
  font-size: calc(1.5rem + 0.4vw);
}

b {
  font-weight: 900;
  font-size: 35px;
}

/* The grid container for body elem*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "footer";
  grid-row-gap: 5%;
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.campaignFullCalc {
  grid-area: footer;
}

.header {
  grid-area: header;
}

/* Container grid for form */
form {
  display: grid;
  grid-template-areas: 
    "in1 in1 in2 in2"
    "len acc sub sub";
}

.camName {
  grid-area: in1;
}

.camCPA {
  grid-area: in2;
}

.length {
  grid-area: len;
}

.accurancy {
  grid-area: acc;
}

.sub {
  grid-area: sub;
}

#acc {
  width: 10px border-box;
}

.campaignIdLabel,
.advLabel {
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.predLabel,
.accurancyLabel{
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.bidInput,
.approveInput,
.crInput,
.ctrInput, .campaignIdInput {
  box-sizing: border-box;
  display: block;
  border: 3px solid currentColor;
  width: 50%;
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}