/* NEW MENU */

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a393eb;
  overflow-x: hidden;
  padding-top: 20px;
}

#sub {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #27296d;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: darkmagenta;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* END NEW MENU */

body {
  background: dodgerblue linear-gradient(135deg, #1a2c5b, #3e4e88, #878f99) fixed;
  color: white;
  text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
  margin: 0px;    
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
  font-family: "Inter", sans-serif;
}

:root {
  --color-required: #d64161;
  --color-label: #86af49;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

.header {
  grid-area: header;
  text-align: center;
}

#invisable2 {
  visibility: hidden;
}

/* HEADER DESIGN */
#headerFullCalc {
  font-weight: 900;
  color: beige;
  font-size: calc(2rem + 0.4vw);
}

#introFullCalc, #notReq, #req {
  font-weight: bolder;
  color: beige;
  font-size: calc(1.5rem + 0.4vw);
}

#req {
  color:var(--color-required)
}

#notReq {
  color: var(--color-label);
}

b {
  font-weight: 900;
  font-size: 35px;
}

/* GRID AREA STYLE */
form {
  display: grid;
  grid-template-areas: 
    "in1 in2 in3"
    ". . ."
    "len acc sub";
}

.camName {
  grid-area: in1;
}

.camApprove{
  grid-area: in3;
}

.camCPA {
  grid-area: in2;
}

.length {
  grid-area: len;
}

.accurancy {
  grid-area: acc;
}

.sub {
  grid-area: sub;
}

/*LABELS STYLE*/

.predLabel,
.accurancyLabel{
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.campaignIdLabel,
.cpaLabel,.approveLabel {
  color: var(--color-label);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.campaignIdLabel {
  color: var(--color-required);
}

/*INPUT AREA STYLE*/

.campaignIdInput {
  box-sizing: border-box;
  display: block;
  border: 3px solid currentColor;
  width: 50%;
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cpaInput, .approveInput{
  box-sizing: border-box;
  display: block;
  border: 3px solid currentColor;
  width: 50%;
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.campaignIdInput:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--color-required);
  outline: 0;
  box-shadow: 0 0 0 0 rem var(--color-required);
}

.cpaInput:focus, 
.approveInput:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--color-label);
  outline: 0;
  box-shadow: 0 0 0 0 rem var(--color-label);
}

/* ICON STYLE */
.inputIcon {
  position: relative;
}

.inputIcon::before {
  content: '';
  color: #bdbdbd;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
}

.inputIcon .approveInput,
.inputIcon .cpaInput,
.inputIcon .campaignIdInput{
  padding-left: 2rem;
}

.camIcon::before {
  content: '#';
}

.cpaIcon::before {
  content: '$';
}

.approveIcon::before {
  content: '%';
}

/* SUBMIT BUTTON STYLE*/
.fullCalcSubmit {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fullCalcSubmit:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


/* DROPDOWN MENU STYLE */
.predDropDown, 
.accurancyDropDown {
  background-color: #92a8d1;
  border: 0px;
  color: #034f84;
}

.optionVal:hover {
  background-color: #879991;
}
