* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

body {
  background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink)
    fixed;
  color: white;
  text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
  margin-top: 3rem;
}

.header {
  grid-area: header;
  background-color: #f1f1f1;
  font-size: 45px;
  text-align: center;
}

#invisable1, 
#invisable2 {
  visibility: hidden;
}

.customCalcSubmit,
.fullCalcSubmit {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.camSubmit:hover,
.campaignSubmit:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#headerFullCalc {
  font-size: 45px;
  font-weight: 900;
  color: darkblue;
}

b {
  font-weight: 900;
  color: darkcyan;
  font-size: 35px;
}

#introFullCalc {
  font-weight: bolder;
  color: darkcyan;
  font-size: 30px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left or or middle right right"
    "left or or middle right right"
    "footer footer footer footer footer footer";
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.formForName {
  grid-area: left;
  padding: 10%;
  padding-left: 20%;
}

.campaignFullCalc {
  grid-area: middle;
  padding: 10%;
  padding-left: 20%;
}

.lastFullPredict {
  grid-area: right;
  text-align: center;
}

.or {
  padding: 30%;
  text-align: center;
  grid-area: or;
}

#or {
  font-weight: 900;
  font-size: 45px;
  color: #f189;
  border: 8px solid darkmagenta;
  padding-left: 5px;
  padding-right: 5px;
}

#lastFullPredict {
  border: 7px double blueviolet;
}

.footer {
  grid-area: footer;
  text-align: center;
  font-style: normal;
}

#footerLink {
  color: yellow;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  background: 5px darkmagenta;
  border: 5px solid darkmagenta;
  border-radius: 50%;
}

.campaignLabel,
.advLabel {
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.campaignLabel {
  padding-top: 20px;
}

.bidInput,
.approveInput,
.crInput,
.ctrInput, .campaignIdInput {
  box-sizing: border-box;
  display: block;
  border: 3px solid currentColor;
  width: 50%;
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}