<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>forecast</th>
      <th>markers</th>
      <th>shows</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2022-07-19 09:00:00</td>
      <td>74352.000000</td>
      <td>0</td>
      <td>74352.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2022-07-19 10:00:00</td>
      <td>51353.711806</td>
      <td>0</td>
      <td>51360.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2022-07-19 11:00:00</td>
      <td>43693.711806</td>
      <td>0</td>
      <td>43700.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2022-07-19 12:00:00</td>
      <td>41955.711806</td>
      <td>0</td>
      <td>41962.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2022-07-19 13:00:00</td>
      <td>40917.711806</td>
      <td>0</td>
      <td>40924.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2022-07-19 14:00:00</td>
      <td>49551.711806</td>
      <td>0</td>
      <td>49558.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2022-07-19 15:00:00</td>
      <td>45961.711806</td>
      <td>0</td>
      <td>45968.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2022-07-19 16:00:00</td>
      <td>44337.711806</td>
      <td>0</td>
      <td>44344.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2022-07-19 17:00:00</td>
      <td>42489.711806</td>
      <td>0</td>
      <td>42496.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2022-07-19 18:00:00</td>
      <td>36025.711806</td>
      <td>0</td>
      <td>36032.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2022-07-19 19:00:00</td>
      <td>41743.711806</td>
      <td>0</td>
      <td>41750.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2022-07-19 20:00:00</td>
      <td>42671.711806</td>
      <td>0</td>
      <td>42678.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2022-07-19 21:00:00</td>
      <td>45189.711806</td>
      <td>0</td>
      <td>45196.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2022-07-19 22:00:00</td>
      <td>39085.711806</td>
      <td>0</td>
      <td>39092.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2022-07-19 23:00:00</td>
      <td>25299.711806</td>
      <td>0</td>
      <td>25306.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2022-07-20 00:00:00</td>
      <td>17345.711806</td>
      <td>0</td>
      <td>17352.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2022-07-20 01:00:00</td>
      <td>13373.711806</td>
      <td>0</td>
      <td>13380.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2022-07-20 02:00:00</td>
      <td>13703.711806</td>
      <td>0</td>
      <td>13710.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2022-07-20 03:00:00</td>
      <td>17627.711806</td>
      <td>0</td>
      <td>17634.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2022-07-20 04:00:00</td>
      <td>22133.711806</td>
      <td>0</td>
      <td>22140.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2022-07-20 05:00:00</td>
      <td>29763.711806</td>
      <td>0</td>
      <td>29770.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2022-07-20 06:00:00</td>
      <td>45397.711806</td>
      <td>0</td>
      <td>45404.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2022-07-20 07:00:00</td>
      <td>53283.711806</td>
      <td>0</td>
      <td>53290.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2022-07-20 08:00:00</td>
      <td>57773.711806</td>
      <td>0</td>
      <td>57780.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2022-07-20 09:00:00</td>
      <td>48839.711806</td>
      <td>0</td>
      <td>48846.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2022-07-20 10:00:00</td>
      <td>39997.711806</td>
      <td>0</td>
      <td>40004.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2022-07-20 11:00:00</td>
      <td>39265.711806</td>
      <td>0</td>
      <td>39272.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2022-07-20 12:00:00</td>
      <td>40671.711806</td>
      <td>0</td>
      <td>40678.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2022-07-20 13:00:00</td>
      <td>42303.711806</td>
      <td>0</td>
      <td>42310.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2022-07-20 14:00:00</td>
      <td>43033.711806</td>
      <td>0</td>
      <td>43040.0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2022-07-20 15:00:00</td>
      <td>39877.711806</td>
      <td>0</td>
      <td>39884.0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2022-07-20 16:00:00</td>
      <td>42363.711806</td>
      <td>0</td>
      <td>42370.0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>2022-07-20 17:00:00</td>
      <td>47711.711806</td>
      <td>0</td>
      <td>47718.0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>2022-07-20 18:00:00</td>
      <td>49555.711806</td>
      <td>0</td>
      <td>49562.0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2022-07-20 19:00:00</td>
      <td>48517.711806</td>
      <td>0</td>
      <td>48524.0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>2022-07-20 20:00:00</td>
      <td>45595.711806</td>
      <td>0</td>
      <td>45602.0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>2022-07-20 21:00:00</td>
      <td>42905.711806</td>
      <td>0</td>
      <td>42912.0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>2022-07-20 22:00:00</td>
      <td>37025.711806</td>
      <td>0</td>
      <td>37032.0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>2022-07-20 23:00:00</td>
      <td>29129.711806</td>
      <td>0</td>
      <td>29136.0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>2022-07-21 00:00:00</td>
      <td>19497.711806</td>
      <td>0</td>
      <td>19504.0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2022-07-21 01:00:00</td>
      <td>16201.711806</td>
      <td>0</td>
      <td>16208.0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2022-07-21 02:00:00</td>
      <td>14493.711806</td>
      <td>0</td>
      <td>14500.0</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2022-07-21 03:00:00</td>
      <td>18251.711806</td>
      <td>0</td>
      <td>18258.0</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2022-07-21 04:00:00</td>
      <td>23727.711806</td>
      <td>0</td>
      <td>23734.0</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2022-07-21 05:00:00</td>
      <td>33273.711806</td>
      <td>0</td>
      <td>33280.0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2022-07-21 06:00:00</td>
      <td>46653.711806</td>
      <td>0</td>
      <td>46660.0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2022-07-21 07:00:00</td>
      <td>59475.711806</td>
      <td>0</td>
      <td>59482.0</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2022-07-21 08:00:00</td>
      <td>63033.711806</td>
      <td>0</td>
      <td>63040.0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2022-07-21 09:00:00</td>
      <td>65811.711806</td>
      <td>0</td>
      <td>65818.0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2022-07-21 10:00:00</td>
      <td>52329.711806</td>
      <td>0</td>
      <td>52336.0</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2022-07-21 11:00:00</td>
      <td>40845.711806</td>
      <td>0</td>
      <td>40852.0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2022-07-21 12:00:00</td>
      <td>3563.711806</td>
      <td>0</td>
      <td>3570.0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2022-07-21 13:00:00</td>
      <td>3563.711806</td>
      <td>0</td>
      <td>3570.0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2022-07-21 14:00:00</td>
      <td>109173.711806</td>
      <td>0</td>
      <td>109180.0</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2022-07-21 15:00:00</td>
      <td>109173.711806</td>
      <td>0</td>
      <td>109180.0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2022-07-21 16:00:00</td>
      <td>114909.711806</td>
      <td>0</td>
      <td>114916.0</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2022-07-21 17:00:00</td>
      <td>50683.711806</td>
      <td>0</td>
      <td>50690.0</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2022-07-21 18:00:00</td>
      <td>117903.711806</td>
      <td>0</td>
      <td>117910.0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2022-07-21 19:00:00</td>
      <td>5785.711806</td>
      <td>0</td>
      <td>5792.0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2022-07-21 20:00:00</td>
      <td>5785.711806</td>
      <td>0</td>
      <td>5792.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2022-07-21 21:00:00</td>
      <td>5785.711806</td>
      <td>0</td>
      <td>5792.0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>2022-07-21 22:00:00</td>
      <td>5785.711806</td>
      <td>0</td>
      <td>5792.0</td>
    </tr>
    <tr>
      <th>62</th>
      <td>2022-07-21 23:00:00</td>
      <td>5785.711806</td>
      <td>0</td>
      <td>5792.0</td>
    </tr>
    <tr>
      <th>63</th>
      <td>2022-07-22 00:00:00</td>
      <td>5785.711806</td>
      <td>0</td>
      <td>5792.0</td>
    </tr>
    <tr>
      <th>64</th>
      <td>2022-07-22 01:00:00</td>
      <td>5785.711806</td>
      <td>0</td>
      <td>5792.0</td>
    </tr>
    <tr>
      <th>65</th>
      <td>2022-07-22 02:00:00</td>
      <td>5785.711806</td>
      <td>0</td>
      <td>5792.0</td>
    </tr>
    <tr>
      <th>66</th>
      <td>2022-07-22 03:00:00</td>
      <td>43973.711806</td>
      <td>0</td>
      <td>43980.0</td>
    </tr>
    <tr>
      <th>67</th>
      <td>2022-07-22 04:00:00</td>
      <td>43973.711806</td>
      <td>0</td>
      <td>43980.0</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2022-07-22 05:00:00</td>
      <td>43973.711806</td>
      <td>0</td>
      <td>43980.0</td>
    </tr>
    <tr>
      <th>69</th>
      <td>2022-07-22 06:00:00</td>
      <td>43973.711806</td>
      <td>0</td>
      <td>43980.0</td>
    </tr>
    <tr>
      <th>70</th>
      <td>2022-07-22 07:00:00</td>
      <td>43973.711806</td>
      <td>0</td>
      <td>43980.0</td>
    </tr>
    <tr>
      <th>71</th>
      <td>2022-07-22 08:00:00</td>
      <td>43973.711806</td>
      <td>0</td>
      <td>43980.0</td>
    </tr>
    <tr>
      <th>72</th>
      <td>2022-07-22 09:00:00</td>
      <td>43973.711806</td>
      <td>0</td>
      <td>43980.0</td>
    </tr>
    <tr>
      <th>73</th>
      <td>2022-07-22 10:00:00</td>
      <td>38321.711806</td>
      <td>0</td>
      <td>38328.0</td>
    </tr>
    <tr>
      <th>74</th>
      <td>2022-07-22 11:00:00</td>
      <td>34669.711806</td>
      <td>0</td>
      <td>34676.0</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2022-07-22 12:00:00</td>
      <td>35263.711806</td>
      <td>0</td>
      <td>35270.0</td>
    </tr>
    <tr>
      <th>76</th>
      <td>2022-07-22 13:00:00</td>
      <td>53329.711806</td>
      <td>0</td>
      <td>53336.0</td>
    </tr>
    <tr>
      <th>77</th>
      <td>2022-07-22 14:00:00</td>
      <td>64169.711806</td>
      <td>0</td>
      <td>64176.0</td>
    </tr>
    <tr>
      <th>78</th>
      <td>2022-07-22 15:00:00</td>
      <td>38729.711806</td>
      <td>0</td>
      <td>38736.0</td>
    </tr>
    <tr>
      <th>79</th>
      <td>2022-07-22 16:00:00</td>
      <td>36505.711806</td>
      <td>0</td>
      <td>36512.0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2022-07-22 17:00:00</td>
      <td>39093.711806</td>
      <td>0</td>
      <td>39100.0</td>
    </tr>
    <tr>
      <th>81</th>
      <td>2022-07-22 18:00:00</td>
      <td>38149.711806</td>
      <td>0</td>
      <td>38156.0</td>
    </tr>
    <tr>
      <th>82</th>
      <td>2022-07-22 19:00:00</td>
      <td>36091.711806</td>
      <td>0</td>
      <td>36098.0</td>
    </tr>
    <tr>
      <th>83</th>
      <td>2022-07-22 20:00:00</td>
      <td>41297.711806</td>
      <td>0</td>
      <td>41304.0</td>
    </tr>
    <tr>
      <th>84</th>
      <td>2022-07-22 21:00:00</td>
      <td>45443.711806</td>
      <td>0</td>
      <td>45450.0</td>
    </tr>
    <tr>
      <th>85</th>
      <td>2022-07-22 22:00:00</td>
      <td>41291.711806</td>
      <td>0</td>
      <td>41298.0</td>
    </tr>
    <tr>
      <th>86</th>
      <td>2022-07-22 23:00:00</td>
      <td>29345.711806</td>
      <td>0</td>
      <td>29352.0</td>
    </tr>
    <tr>
      <th>87</th>
      <td>2022-07-23 00:00:00</td>
      <td>18295.711806</td>
      <td>0</td>
      <td>18302.0</td>
    </tr>
    <tr>
      <th>88</th>
      <td>2022-07-23 01:00:00</td>
      <td>16593.711806</td>
      <td>0</td>
      <td>16600.0</td>
    </tr>
    <tr>
      <th>89</th>
      <td>2022-07-23 02:00:00</td>
      <td>14921.711806</td>
      <td>0</td>
      <td>14928.0</td>
    </tr>
    <tr>
      <th>90</th>
      <td>2022-07-23 03:00:00</td>
      <td>18561.711806</td>
      <td>0</td>
      <td>18568.0</td>
    </tr>
    <tr>
      <th>91</th>
      <td>2022-07-23 04:00:00</td>
      <td>21409.711806</td>
      <td>0</td>
      <td>21416.0</td>
    </tr>
    <tr>
      <th>92</th>
      <td>2022-07-23 05:00:00</td>
      <td>24951.711806</td>
      <td>0</td>
      <td>24958.0</td>
    </tr>
    <tr>
      <th>93</th>
      <td>2022-07-23 06:00:00</td>
      <td>33901.711806</td>
      <td>0</td>
      <td>33908.0</td>
    </tr>
    <tr>
      <th>94</th>
      <td>2022-07-23 07:00:00</td>
      <td>50071.711806</td>
      <td>0</td>
      <td>50078.0</td>
    </tr>
    <tr>
      <th>95</th>
      <td>2022-07-23 08:00:00</td>
      <td>49607.711806</td>
      <td>0</td>
      <td>49614.0</td>
    </tr>
    <tr>
      <th>96</th>
      <td>2022-07-23 09:00:00</td>
      <td>49839.711806</td>
      <td>0</td>
      <td>49846.0</td>
    </tr>
    <tr>
      <th>97</th>
      <td>2022-07-23 10:00:00</td>
      <td>49199.711806</td>
      <td>0</td>
      <td>49206.0</td>
    </tr>
    <tr>
      <th>98</th>
      <td>2022-07-23 11:00:00</td>
      <td>43849.711806</td>
      <td>0</td>
      <td>43856.0</td>
    </tr>
    <tr>
      <th>99</th>
      <td>2022-07-23 12:00:00</td>
      <td>41755.711806</td>
      <td>0</td>
      <td>41762.0</td>
    </tr>
    <tr>
      <th>100</th>
      <td>2022-07-23 13:00:00</td>
      <td>38607.711806</td>
      <td>0</td>
      <td>38614.0</td>
    </tr>
    <tr>
      <th>101</th>
      <td>2022-07-23 14:00:00</td>
      <td>45081.711806</td>
      <td>0</td>
      <td>45088.0</td>
    </tr>
    <tr>
      <th>102</th>
      <td>2022-07-23 15:00:00</td>
      <td>46881.711806</td>
      <td>0</td>
      <td>46888.0</td>
    </tr>
    <tr>
      <th>103</th>
      <td>2022-07-23 16:00:00</td>
      <td>48153.711806</td>
      <td>0</td>
      <td>48160.0</td>
    </tr>
    <tr>
      <th>104</th>
      <td>2022-07-23 17:00:00</td>
      <td>55275.711806</td>
      <td>0</td>
      <td>55282.0</td>
    </tr>
    <tr>
      <th>105</th>
      <td>2022-07-23 18:00:00</td>
      <td>58055.711806</td>
      <td>0</td>
      <td>58062.0</td>
    </tr>
    <tr>
      <th>106</th>
      <td>2022-07-23 19:00:00</td>
      <td>41117.711806</td>
      <td>0</td>
      <td>41124.0</td>
    </tr>
    <tr>
      <th>107</th>
      <td>2022-07-23 20:00:00</td>
      <td>45849.711806</td>
      <td>0</td>
      <td>45856.0</td>
    </tr>
    <tr>
      <th>108</th>
      <td>2022-07-23 21:00:00</td>
      <td>48063.711806</td>
      <td>0</td>
      <td>48070.0</td>
    </tr>
    <tr>
      <th>109</th>
      <td>2022-07-23 22:00:00</td>
      <td>46333.711806</td>
      <td>0</td>
      <td>46340.0</td>
    </tr>
    <tr>
      <th>110</th>
      <td>2022-07-23 23:00:00</td>
      <td>34085.711806</td>
      <td>0</td>
      <td>34092.0</td>
    </tr>
    <tr>
      <th>111</th>
      <td>2022-07-24 00:00:00</td>
      <td>21823.711806</td>
      <td>0</td>
      <td>21830.0</td>
    </tr>
    <tr>
      <th>112</th>
      <td>2022-07-24 01:00:00</td>
      <td>18075.711806</td>
      <td>0</td>
      <td>18082.0</td>
    </tr>
    <tr>
      <th>113</th>
      <td>2022-07-24 02:00:00</td>
      <td>16925.711806</td>
      <td>0</td>
      <td>16932.0</td>
    </tr>
    <tr>
      <th>114</th>
      <td>2022-07-24 03:00:00</td>
      <td>20705.711806</td>
      <td>0</td>
      <td>20712.0</td>
    </tr>
    <tr>
      <th>115</th>
      <td>2022-07-24 04:00:00</td>
      <td>27479.711806</td>
      <td>0</td>
      <td>27486.0</td>
    </tr>
    <tr>
      <th>116</th>
      <td>2022-07-24 05:00:00</td>
      <td>36265.711806</td>
      <td>0</td>
      <td>36272.0</td>
    </tr>
    <tr>
      <th>117</th>
      <td>2022-07-24 06:00:00</td>
      <td>45403.711806</td>
      <td>0</td>
      <td>45410.0</td>
    </tr>
    <tr>
      <th>118</th>
      <td>2022-07-24 07:00:00</td>
      <td>56941.711806</td>
      <td>0</td>
      <td>56948.0</td>
    </tr>
    <tr>
      <th>119</th>
      <td>2022-07-24 08:00:00</td>
      <td>55163.711806</td>
      <td>0</td>
      <td>55170.0</td>
    </tr>
    <tr>
      <th>120</th>
      <td>2022-07-24 09:00:00</td>
      <td>53651.711806</td>
      <td>0</td>
      <td>53658.0</td>
    </tr>
    <tr>
      <th>121</th>
      <td>2022-07-24 10:00:00</td>
      <td>46475.711806</td>
      <td>0</td>
      <td>46482.0</td>
    </tr>
    <tr>
      <th>122</th>
      <td>2022-07-24 11:00:00</td>
      <td>54437.711806</td>
      <td>0</td>
      <td>54444.0</td>
    </tr>
    <tr>
      <th>123</th>
      <td>2022-07-24 12:00:00</td>
      <td>62143.711806</td>
      <td>0</td>
      <td>62150.0</td>
    </tr>
    <tr>
      <th>124</th>
      <td>2022-07-24 13:00:00</td>
      <td>68377.711806</td>
      <td>0</td>
      <td>68384.0</td>
    </tr>
    <tr>
      <th>125</th>
      <td>2022-07-24 14:00:00</td>
      <td>64683.711806</td>
      <td>0</td>
      <td>64690.0</td>
    </tr>
    <tr>
      <th>126</th>
      <td>2022-07-24 15:00:00</td>
      <td>63387.711806</td>
      <td>0</td>
      <td>63394.0</td>
    </tr>
    <tr>
      <th>127</th>
      <td>2022-07-24 16:00:00</td>
      <td>72625.711806</td>
      <td>0</td>
      <td>72632.0</td>
    </tr>
    <tr>
      <th>128</th>
      <td>2022-07-24 17:00:00</td>
      <td>75793.711806</td>
      <td>0</td>
      <td>75800.0</td>
    </tr>
    <tr>
      <th>129</th>
      <td>2022-07-24 18:00:00</td>
      <td>76027.711806</td>
      <td>0</td>
      <td>76034.0</td>
    </tr>
    <tr>
      <th>130</th>
      <td>2022-07-24 19:00:00</td>
      <td>61889.711806</td>
      <td>0</td>
      <td>61896.0</td>
    </tr>
    <tr>
      <th>131</th>
      <td>2022-07-24 20:00:00</td>
      <td>54241.711806</td>
      <td>0</td>
      <td>54248.0</td>
    </tr>
    <tr>
      <th>132</th>
      <td>2022-07-24 21:00:00</td>
      <td>56355.711806</td>
      <td>0</td>
      <td>56362.0</td>
    </tr>
    <tr>
      <th>133</th>
      <td>2022-07-24 22:00:00</td>
      <td>53539.711806</td>
      <td>0</td>
      <td>53546.0</td>
    </tr>
    <tr>
      <th>134</th>
      <td>2022-07-24 23:00:00</td>
      <td>36469.711806</td>
      <td>0</td>
      <td>36476.0</td>
    </tr>
    <tr>
      <th>135</th>
      <td>2022-07-25 00:00:00</td>
      <td>21673.711806</td>
      <td>0</td>
      <td>21680.0</td>
    </tr>
    <tr>
      <th>136</th>
      <td>2022-07-25 01:00:00</td>
      <td>16509.711806</td>
      <td>0</td>
      <td>16516.0</td>
    </tr>
    <tr>
      <th>137</th>
      <td>2022-07-25 02:00:00</td>
      <td>17689.711806</td>
      <td>0</td>
      <td>17696.0</td>
    </tr>
    <tr>
      <th>138</th>
      <td>2022-07-25 03:00:00</td>
      <td>18963.711806</td>
      <td>0</td>
      <td>18970.0</td>
    </tr>
    <tr>
      <th>139</th>
      <td>2022-07-25 04:00:00</td>
      <td>24723.711806</td>
      <td>0</td>
      <td>24730.0</td>
    </tr>
    <tr>
      <th>140</th>
      <td>2022-07-25 05:00:00</td>
      <td>34517.711806</td>
      <td>0</td>
      <td>34524.0</td>
    </tr>
    <tr>
      <th>141</th>
      <td>2022-07-25 06:00:00</td>
      <td>46547.711806</td>
      <td>0</td>
      <td>46554.0</td>
    </tr>
    <tr>
      <th>142</th>
      <td>2022-07-25 07:00:00</td>
      <td>53075.711806</td>
      <td>0</td>
      <td>53082.0</td>
    </tr>
    <tr>
      <th>143</th>
      <td>2022-07-25 08:00:00</td>
      <td>54217.711806</td>
      <td>0</td>
      <td>54224.0</td>
    </tr>
    <tr>
      <th>144</th>
      <td>2022-07-25 09:00:00</td>
      <td>55981.711806</td>
      <td>0</td>
      <td>55988.0</td>
    </tr>
    <tr>
      <th>145</th>
      <td>2022-07-25 10:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>146</th>
      <td>2022-07-25 11:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>147</th>
      <td>2022-07-25 12:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>148</th>
      <td>2022-07-25 13:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>149</th>
      <td>2022-07-25 14:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>150</th>
      <td>2022-07-25 15:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>151</th>
      <td>2022-07-25 16:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>152</th>
      <td>2022-07-25 17:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>153</th>
      <td>2022-07-25 18:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>154</th>
      <td>2022-07-25 19:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>155</th>
      <td>2022-07-25 20:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>156</th>
      <td>2022-07-25 21:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>157</th>
      <td>2022-07-25 22:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>158</th>
      <td>2022-07-25 23:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>159</th>
      <td>2022-07-26 00:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>160</th>
      <td>2022-07-26 01:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>161</th>
      <td>2022-07-26 02:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>162</th>
      <td>2022-07-26 03:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>163</th>
      <td>2022-07-26 04:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>164</th>
      <td>2022-07-26 05:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>165</th>
      <td>2022-07-26 06:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>166</th>
      <td>2022-07-26 07:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>167</th>
      <td>2022-07-26 08:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>168</th>
      <td>2022-07-26 09:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>169</th>
      <td>2022-07-26 10:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>170</th>
      <td>2022-07-26 11:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>171</th>
      <td>2022-07-26 12:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>172</th>
      <td>2022-07-26 13:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>173</th>
      <td>2022-07-26 14:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>174</th>
      <td>2022-07-26 15:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>175</th>
      <td>2022-07-26 16:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>176</th>
      <td>2022-07-26 17:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>177</th>
      <td>2022-07-26 18:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>178</th>
      <td>2022-07-26 19:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>179</th>
      <td>2022-07-26 20:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>180</th>
      <td>2022-07-26 21:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>181</th>
      <td>2022-07-26 22:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>182</th>
      <td>2022-07-26 23:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>183</th>
      <td>2022-07-27 00:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>184</th>
      <td>2022-07-27 01:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>185</th>
      <td>2022-07-27 02:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>186</th>
      <td>2022-07-27 03:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>187</th>
      <td>2022-07-27 04:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>188</th>
      <td>2022-07-27 05:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>189</th>
      <td>2022-07-27 06:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>190</th>
      <td>2022-07-27 07:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>191</th>
      <td>2022-07-27 08:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>192</th>
      <td>2022-07-27 09:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>193</th>
      <td>2022-07-27 10:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>194</th>
      <td>2022-07-27 11:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>195</th>
      <td>2022-07-27 12:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>196</th>
      <td>2022-07-27 13:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>197</th>
      <td>2022-07-27 14:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>198</th>
      <td>2022-07-27 15:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>199</th>
      <td>2022-07-27 16:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2022-07-27 17:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>201</th>
      <td>2022-07-27 18:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>202</th>
      <td>2022-07-27 19:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>203</th>
      <td>2022-07-27 20:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>204</th>
      <td>2022-07-27 21:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>205</th>
      <td>2022-07-27 22:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>206</th>
      <td>2022-07-27 23:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>207</th>
      <td>2022-07-28 00:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>208</th>
      <td>2022-07-28 01:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>209</th>
      <td>2022-07-28 02:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>210</th>
      <td>2022-07-28 03:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>211</th>
      <td>2022-07-28 04:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>212</th>
      <td>2022-07-28 05:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>213</th>
      <td>2022-07-28 06:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>214</th>
      <td>2022-07-28 07:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>215</th>
      <td>2022-07-28 08:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>216</th>
      <td>2022-07-28 09:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>217</th>
      <td>2022-07-28 10:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>218</th>
      <td>2022-07-28 11:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>219</th>
      <td>2022-07-28 12:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>220</th>
      <td>2022-07-28 13:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>221</th>
      <td>2022-07-28 14:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>222</th>
      <td>2022-07-28 15:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>223</th>
      <td>2022-07-28 16:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>224</th>
      <td>2022-07-28 17:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>225</th>
      <td>2022-07-28 18:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>226</th>
      <td>2022-07-28 19:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>227</th>
      <td>2022-07-28 20:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>228</th>
      <td>2022-07-28 21:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>229</th>
      <td>2022-07-28 22:00:00</td>
      <td>22571.711806</td>
      <td>0</td>
      <td>22578.0</td>
    </tr>
    <tr>
      <th>230</th>
      <td>2022-07-28 23:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>231</th>
      <td>2022-07-29 00:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>232</th>
      <td>2022-07-29 01:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>233</th>
      <td>2022-07-29 02:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>234</th>
      <td>2022-07-29 03:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>235</th>
      <td>2022-07-29 04:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>236</th>
      <td>2022-07-29 05:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>237</th>
      <td>2022-07-29 06:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>238</th>
      <td>2022-07-29 07:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>239</th>
      <td>2022-07-29 08:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>240</th>
      <td>2022-07-29 09:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>241</th>
      <td>2022-07-29 10:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>242</th>
      <td>2022-07-29 11:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>243</th>
      <td>2022-07-29 12:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>244</th>
      <td>2022-07-29 13:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>245</th>
      <td>2022-07-29 14:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>246</th>
      <td>2022-07-29 15:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>247</th>
      <td>2022-07-29 16:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>248</th>
      <td>2022-07-29 17:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>249</th>
      <td>2022-07-29 18:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>250</th>
      <td>2022-07-29 19:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>251</th>
      <td>2022-07-29 20:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>252</th>
      <td>2022-07-29 21:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>253</th>
      <td>2022-07-29 22:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>254</th>
      <td>2022-07-29 23:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>255</th>
      <td>2022-07-30 00:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>256</th>
      <td>2022-07-30 01:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>257</th>
      <td>2022-07-30 02:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>258</th>
      <td>2022-07-30 03:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>259</th>
      <td>2022-07-30 04:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>260</th>
      <td>2022-07-30 05:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>261</th>
      <td>2022-07-30 06:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>262</th>
      <td>2022-07-30 07:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>263</th>
      <td>2022-07-30 08:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>264</th>
      <td>2022-07-30 09:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>265</th>
      <td>2022-07-30 10:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>266</th>
      <td>2022-07-30 11:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>267</th>
      <td>2022-07-30 12:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>268</th>
      <td>2022-07-30 13:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>269</th>
      <td>2022-07-30 14:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>270</th>
      <td>2022-07-30 15:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>271</th>
      <td>2022-07-30 16:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>272</th>
      <td>2022-07-30 17:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>273</th>
      <td>2022-07-30 18:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>274</th>
      <td>2022-07-30 19:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>275</th>
      <td>2022-07-30 20:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>276</th>
      <td>2022-07-30 21:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>277</th>
      <td>2022-07-30 22:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>278</th>
      <td>2022-07-30 23:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>279</th>
      <td>2022-07-31 00:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>280</th>
      <td>2022-07-31 01:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>281</th>
      <td>2022-07-31 02:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>282</th>
      <td>2022-07-31 03:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>283</th>
      <td>2022-07-31 04:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>284</th>
      <td>2022-07-31 05:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>285</th>
      <td>2022-07-31 06:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>286</th>
      <td>2022-07-31 07:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>287</th>
      <td>2022-07-31 08:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>288</th>
      <td>2022-07-31 09:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>289</th>
      <td>2022-07-31 10:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>290</th>
      <td>2022-07-31 11:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>291</th>
      <td>2022-07-31 12:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>292</th>
      <td>2022-07-31 13:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2022-07-31 14:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2022-07-31 15:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2022-07-31 16:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2022-07-31 17:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2022-07-31 18:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2022-07-31 19:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2022-07-31 20:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2022-07-31 21:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2022-07-31 22:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2022-07-31 23:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2022-08-01 00:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2022-08-01 01:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2022-08-01 02:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2022-08-01 03:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2022-08-01 04:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2022-08-01 05:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2022-08-01 06:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2022-08-01 07:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2022-08-01 08:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2022-08-01 09:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2022-08-01 10:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2022-08-01 11:00:00</td>
      <td>29743.711806</td>
      <td>0</td>
      <td>29750.0</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2022-08-01 12:00:00</td>
      <td>30379.711806</td>
      <td>0</td>
      <td>30386.0</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2022-08-01 13:00:00</td>
      <td>23355.711806</td>
      <td>0</td>
      <td>23362.0</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2022-08-01 14:00:00</td>
      <td>60175.711806</td>
      <td>0</td>
      <td>60182.0</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2022-08-01 15:00:00</td>
      <td>29846.315435</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2022-08-01 16:00:00</td>
      <td>29845.240992</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2022-08-01 17:00:00</td>
      <td>29844.177925</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2022-08-01 18:00:00</td>
      <td>29843.121657</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>322</th>
      <td>2022-08-01 19:00:00</td>
      <td>29842.067729</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>323</th>
      <td>2022-08-01 20:00:00</td>
      <td>29841.011801</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>324</th>
      <td>2022-08-01 21:00:00</td>
      <td>29839.949649</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>325</th>
      <td>2022-08-01 22:00:00</td>
      <td>29838.877163</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>326</th>
      <td>2022-08-01 23:00:00</td>
      <td>29837.795488</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>327</th>
      <td>2022-08-02 00:00:00</td>
      <td>29836.705692</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>328</th>
      <td>2022-08-02 01:00:00</td>
      <td>29835.608771</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>329</th>
      <td>2022-08-02 02:00:00</td>
      <td>29834.505652</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>330</th>
      <td>2022-08-02 03:00:00</td>
      <td>29833.397194</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>331</th>
      <td>2022-08-02 04:00:00</td>
      <td>29832.284188</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>332</th>
      <td>2022-08-02 05:00:00</td>
      <td>29831.167363</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>333</th>
      <td>2022-08-02 06:00:00</td>
      <td>29830.047384</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>334</th>
      <td>2022-08-02 07:00:00</td>
      <td>29828.924856</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>335</th>
      <td>2022-08-02 08:00:00</td>
      <td>29827.800327</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>336</th>
      <td>2022-08-02 09:00:00</td>
      <td>29826.674287</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>337</th>
      <td>2022-08-02 10:00:00</td>
      <td>29825.547171</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>338</th>
      <td>2022-08-02 11:00:00</td>
      <td>29824.419361</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>339</th>
      <td>2022-08-02 12:00:00</td>
      <td>30453.582166</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>340</th>
      <td>2022-08-02 13:00:00</td>
      <td>23485.846726</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>341</th>
      <td>2022-08-02 14:00:00</td>
      <td>60031.083333</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>