<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF8">
       <title>Full calculator</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='full_calculator.css') }}">
       <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="sidenav">
            <a href="{{ url_for('listResult') }}">History of predict</a>
            <a href="{{ url_for('fullCalculator') }}">Full calculator</a>
            <a href="{{ url_for('info') }}">Information</a>
        </div>
        <div class="main">
            <div class="grid-container">
                <div class="header">
                    <h1 id="headerFullCalc">
                        Full calculator
                    </h1>
                    <p id="introFullCalc">
                        In this page you can fill table with necessary value
                        and get predict of EPC for your campaign. For claculating
                        you can set up your own parameters (for <b>bid</b>, <b>approve</b>, 
                        <b>CR</b> and <b>CTR</b>) OR <b>just fill campaign id.</b>
                    </p>
                </div>
                <div class="campaignFullCalc">
                    <form action="" method="post">
                        <input name="custom" value="False" id="invisable2" disabled><br></br>
    
                        <div class="camName">
                            <label for="campaignId" class="campaignIdLabel" required>
                                Enter a campaign id/name:
                            </label>
                            <input name="campaignId" type="text" class="campaignIdInput" required>
                        </div>
                        
                        <div class="camCPA">
                            <label for="cpa" class="campaignIdLabel">
                                Enter CPA (Cost Per Action):
                            </label>
                            <input name="cpa" type="text" class="campaignIdInput" required>
                        </div>
    
                        <div class="length">
                            <label for="pred_n" class="predLabel">
                                Choise predict length:
                            </label>
                            <div class="pLenSel">
                                <select name="pred_n" class="predDropDown">
                                    <option value="24">1 day</option>
                                    <option value="48">2 day</option>
                                    <option value="72" selected>3 day</option>
                                    <option value="96">4 day</option>
                                    <option value="120">5 day</option>
                                    <option value="144">6 day</option>
                                    <option value="168">7 day</option>
                                    <option value="192">8 day</option>
                                    <option value="216">9 day</option>
                                    <option value="240">10 day</option>
                                </select><br>    
                            </div>
                        </div>
    
                        <div class="accurancy">
                            <label for="accurancy" class="accurancyLabel">
                                Choise minimal accurancylevel for this model:  
                            </label> <br>
                            <select name="accurancy" class="accurancyDropDown">
                                <option value="0.85">85%</option>
                                <option value="0.90">90%</option>
                                <option value="0.95" selected>95%</option>
                                <option value="0.99">99%</option>
                                <option value="0.9999">99.99%</option>
                            </select>
                        </div>
    
                        <div class="sub">
                            <input type="submit" class="fullCalcSubmit">
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </body>
</html>