<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>forecast</th>
      <th>markers</th>
      <th>shows</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2022-07-19 09:00:00</td>
      <td>41287.000000</td>
      <td>0</td>
      <td>41287.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2022-07-19 10:00:00</td>
      <td>31350.454861</td>
      <td>0</td>
      <td>31375.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2022-07-19 11:00:00</td>
      <td>27126.454861</td>
      <td>0</td>
      <td>27151.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2022-07-19 12:00:00</td>
      <td>24768.454861</td>
      <td>0</td>
      <td>24793.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2022-07-19 13:00:00</td>
      <td>23009.454861</td>
      <td>0</td>
      <td>23034.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2022-07-19 14:00:00</td>
      <td>26960.454861</td>
      <td>0</td>
      <td>26985.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2022-07-19 15:00:00</td>
      <td>27016.454861</td>
      <td>0</td>
      <td>27041.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2022-07-19 16:00:00</td>
      <td>26473.454861</td>
      <td>0</td>
      <td>26498.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2022-07-19 17:00:00</td>
      <td>26586.454861</td>
      <td>0</td>
      <td>26611.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2022-07-19 18:00:00</td>
      <td>22101.454861</td>
      <td>0</td>
      <td>22126.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2022-07-19 19:00:00</td>
      <td>24690.454861</td>
      <td>0</td>
      <td>24715.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2022-07-19 20:00:00</td>
      <td>25457.454861</td>
      <td>0</td>
      <td>25482.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2022-07-19 21:00:00</td>
      <td>27543.454861</td>
      <td>0</td>
      <td>27568.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2022-07-19 22:00:00</td>
      <td>24725.454861</td>
      <td>0</td>
      <td>24750.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2022-07-19 23:00:00</td>
      <td>16389.454861</td>
      <td>0</td>
      <td>16414.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2022-07-20 00:00:00</td>
      <td>12225.454861</td>
      <td>0</td>
      <td>12250.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2022-07-20 01:00:00</td>
      <td>8659.454861</td>
      <td>0</td>
      <td>8684.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2022-07-20 02:00:00</td>
      <td>8796.454861</td>
      <td>0</td>
      <td>8821.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2022-07-20 03:00:00</td>
      <td>10653.454861</td>
      <td>0</td>
      <td>10678.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2022-07-20 04:00:00</td>
      <td>13450.454861</td>
      <td>0</td>
      <td>13475.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2022-07-20 05:00:00</td>
      <td>18335.454861</td>
      <td>0</td>
      <td>18360.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2022-07-20 06:00:00</td>
      <td>27918.454861</td>
      <td>0</td>
      <td>27943.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2022-07-20 07:00:00</td>
      <td>33203.454861</td>
      <td>0</td>
      <td>33228.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2022-07-20 08:00:00</td>
      <td>35164.454861</td>
      <td>0</td>
      <td>35189.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2022-07-20 09:00:00</td>
      <td>30516.454861</td>
      <td>0</td>
      <td>30541.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2022-07-20 10:00:00</td>
      <td>25217.454861</td>
      <td>0</td>
      <td>25242.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2022-07-20 11:00:00</td>
      <td>24874.454861</td>
      <td>0</td>
      <td>24899.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2022-07-20 12:00:00</td>
      <td>25445.454861</td>
      <td>0</td>
      <td>25470.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2022-07-20 13:00:00</td>
      <td>25814.454861</td>
      <td>0</td>
      <td>25839.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2022-07-20 14:00:00</td>
      <td>25114.454861</td>
      <td>0</td>
      <td>25139.0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2022-07-20 15:00:00</td>
      <td>23413.454861</td>
      <td>0</td>
      <td>23438.0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2022-07-20 16:00:00</td>
      <td>23726.454861</td>
      <td>0</td>
      <td>23751.0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>2022-07-20 17:00:00</td>
      <td>27717.454861</td>
      <td>0</td>
      <td>27742.0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>2022-07-20 18:00:00</td>
      <td>28678.454861</td>
      <td>0</td>
      <td>28703.0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2022-07-20 19:00:00</td>
      <td>28675.454861</td>
      <td>0</td>
      <td>28700.0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>2022-07-20 20:00:00</td>
      <td>28895.454861</td>
      <td>0</td>
      <td>28920.0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>2022-07-20 21:00:00</td>
      <td>27947.454861</td>
      <td>0</td>
      <td>27972.0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>2022-07-20 22:00:00</td>
      <td>24049.454861</td>
      <td>0</td>
      <td>24074.0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>2022-07-20 23:00:00</td>
      <td>17837.454861</td>
      <td>0</td>
      <td>17862.0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>2022-07-21 00:00:00</td>
      <td>10653.454861</td>
      <td>0</td>
      <td>10678.0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2022-07-21 01:00:00</td>
      <td>8321.454861</td>
      <td>0</td>
      <td>8346.0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2022-07-21 02:00:00</td>
      <td>7762.454861</td>
      <td>0</td>
      <td>7787.0</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2022-07-21 03:00:00</td>
      <td>10041.454861</td>
      <td>0</td>
      <td>10066.0</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2022-07-21 04:00:00</td>
      <td>13642.454861</td>
      <td>0</td>
      <td>13667.0</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2022-07-21 05:00:00</td>
      <td>17610.454861</td>
      <td>0</td>
      <td>17635.0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2022-07-21 06:00:00</td>
      <td>25082.454861</td>
      <td>0</td>
      <td>25107.0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2022-07-21 07:00:00</td>
      <td>32501.454861</td>
      <td>0</td>
      <td>32526.0</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2022-07-21 08:00:00</td>
      <td>36191.454861</td>
      <td>0</td>
      <td>36216.0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2022-07-21 09:00:00</td>
      <td>35865.454861</td>
      <td>0</td>
      <td>35890.0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2022-07-21 10:00:00</td>
      <td>28561.454861</td>
      <td>0</td>
      <td>28586.0</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2022-07-21 11:00:00</td>
      <td>23819.454861</td>
      <td>0</td>
      <td>23844.0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2022-07-21 12:00:00</td>
      <td>26830.454861</td>
      <td>0</td>
      <td>26855.0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2022-07-21 13:00:00</td>
      <td>24828.454861</td>
      <td>0</td>
      <td>24853.0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2022-07-21 14:00:00</td>
      <td>31377.454861</td>
      <td>0</td>
      <td>31402.0</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2022-07-21 15:00:00</td>
      <td>30330.454861</td>
      <td>0</td>
      <td>30355.0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2022-07-21 16:00:00</td>
      <td>27308.454861</td>
      <td>0</td>
      <td>27333.0</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2022-07-21 17:00:00</td>
      <td>23560.454861</td>
      <td>0</td>
      <td>23585.0</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2022-07-21 18:00:00</td>
      <td>21460.454861</td>
      <td>0</td>
      <td>21485.0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2022-07-21 19:00:00</td>
      <td>22829.454861</td>
      <td>0</td>
      <td>22854.0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2022-07-21 20:00:00</td>
      <td>29639.454861</td>
      <td>0</td>
      <td>29664.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2022-07-21 21:00:00</td>
      <td>29335.454861</td>
      <td>0</td>
      <td>29360.0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>2022-07-21 22:00:00</td>
      <td>25438.454861</td>
      <td>0</td>
      <td>25463.0</td>
    </tr>
    <tr>
      <th>62</th>
      <td>2022-07-21 23:00:00</td>
      <td>19156.454861</td>
      <td>0</td>
      <td>19181.0</td>
    </tr>
    <tr>
      <th>63</th>
      <td>2022-07-22 00:00:00</td>
      <td>12371.454861</td>
      <td>0</td>
      <td>12396.0</td>
    </tr>
    <tr>
      <th>64</th>
      <td>2022-07-22 01:00:00</td>
      <td>10401.454861</td>
      <td>0</td>
      <td>10426.0</td>
    </tr>
    <tr>
      <th>65</th>
      <td>2022-07-22 02:00:00</td>
      <td>10451.454861</td>
      <td>0</td>
      <td>10476.0</td>
    </tr>
    <tr>
      <th>66</th>
      <td>2022-07-22 03:00:00</td>
      <td>11370.454861</td>
      <td>0</td>
      <td>11395.0</td>
    </tr>
    <tr>
      <th>67</th>
      <td>2022-07-22 04:00:00</td>
      <td>16584.454861</td>
      <td>0</td>
      <td>16609.0</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2022-07-22 05:00:00</td>
      <td>20152.454861</td>
      <td>0</td>
      <td>20177.0</td>
    </tr>
    <tr>
      <th>69</th>
      <td>2022-07-22 06:00:00</td>
      <td>24312.454861</td>
      <td>0</td>
      <td>24337.0</td>
    </tr>
    <tr>
      <th>70</th>
      <td>2022-07-22 07:00:00</td>
      <td>29641.454861</td>
      <td>0</td>
      <td>29666.0</td>
    </tr>
    <tr>
      <th>71</th>
      <td>2022-07-22 08:00:00</td>
      <td>32424.454861</td>
      <td>0</td>
      <td>32449.0</td>
    </tr>
    <tr>
      <th>72</th>
      <td>2022-07-22 09:00:00</td>
      <td>33684.454861</td>
      <td>0</td>
      <td>33709.0</td>
    </tr>
    <tr>
      <th>73</th>
      <td>2022-07-22 10:00:00</td>
      <td>22461.454861</td>
      <td>0</td>
      <td>22486.0</td>
    </tr>
    <tr>
      <th>74</th>
      <td>2022-07-22 11:00:00</td>
      <td>21778.454861</td>
      <td>0</td>
      <td>21803.0</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2022-07-22 12:00:00</td>
      <td>22345.454861</td>
      <td>0</td>
      <td>22370.0</td>
    </tr>
    <tr>
      <th>76</th>
      <td>2022-07-22 13:00:00</td>
      <td>34883.454861</td>
      <td>0</td>
      <td>34908.0</td>
    </tr>
    <tr>
      <th>77</th>
      <td>2022-07-22 14:00:00</td>
      <td>53038.454861</td>
      <td>0</td>
      <td>53063.0</td>
    </tr>
    <tr>
      <th>78</th>
      <td>2022-07-22 15:00:00</td>
      <td>53169.454861</td>
      <td>0</td>
      <td>53194.0</td>
    </tr>
    <tr>
      <th>79</th>
      <td>2022-07-22 16:00:00</td>
      <td>19246.454861</td>
      <td>0</td>
      <td>19271.0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2022-07-22 17:00:00</td>
      <td>19776.454861</td>
      <td>0</td>
      <td>19801.0</td>
    </tr>
    <tr>
      <th>81</th>
      <td>2022-07-22 18:00:00</td>
      <td>21247.454861</td>
      <td>0</td>
      <td>21272.0</td>
    </tr>
    <tr>
      <th>82</th>
      <td>2022-07-22 19:00:00</td>
      <td>19197.454861</td>
      <td>0</td>
      <td>19222.0</td>
    </tr>
    <tr>
      <th>83</th>
      <td>2022-07-22 20:00:00</td>
      <td>20622.454861</td>
      <td>0</td>
      <td>20647.0</td>
    </tr>
    <tr>
      <th>84</th>
      <td>2022-07-22 21:00:00</td>
      <td>21643.454861</td>
      <td>0</td>
      <td>21668.0</td>
    </tr>
    <tr>
      <th>85</th>
      <td>2022-07-22 22:00:00</td>
      <td>19269.454861</td>
      <td>0</td>
      <td>19294.0</td>
    </tr>
    <tr>
      <th>86</th>
      <td>2022-07-22 23:00:00</td>
      <td>13631.454861</td>
      <td>0</td>
      <td>13656.0</td>
    </tr>
    <tr>
      <th>87</th>
      <td>2022-07-23 00:00:00</td>
      <td>8863.454861</td>
      <td>0</td>
      <td>8888.0</td>
    </tr>
    <tr>
      <th>88</th>
      <td>2022-07-23 01:00:00</td>
      <td>8171.454861</td>
      <td>0</td>
      <td>8196.0</td>
    </tr>
    <tr>
      <th>89</th>
      <td>2022-07-23 02:00:00</td>
      <td>7983.454861</td>
      <td>0</td>
      <td>8008.0</td>
    </tr>
    <tr>
      <th>90</th>
      <td>2022-07-23 03:00:00</td>
      <td>10267.454861</td>
      <td>0</td>
      <td>10292.0</td>
    </tr>
    <tr>
      <th>91</th>
      <td>2022-07-23 04:00:00</td>
      <td>12089.454861</td>
      <td>0</td>
      <td>12114.0</td>
    </tr>
    <tr>
      <th>92</th>
      <td>2022-07-23 05:00:00</td>
      <td>13902.454861</td>
      <td>0</td>
      <td>13927.0</td>
    </tr>
    <tr>
      <th>93</th>
      <td>2022-07-23 06:00:00</td>
      <td>17614.454861</td>
      <td>0</td>
      <td>17639.0</td>
    </tr>
    <tr>
      <th>94</th>
      <td>2022-07-23 07:00:00</td>
      <td>26362.454861</td>
      <td>0</td>
      <td>26387.0</td>
    </tr>
    <tr>
      <th>95</th>
      <td>2022-07-23 08:00:00</td>
      <td>26759.454861</td>
      <td>0</td>
      <td>26784.0</td>
    </tr>
    <tr>
      <th>96</th>
      <td>2022-07-23 09:00:00</td>
      <td>28021.454861</td>
      <td>0</td>
      <td>28046.0</td>
    </tr>
    <tr>
      <th>97</th>
      <td>2022-07-23 10:00:00</td>
      <td>26391.454861</td>
      <td>0</td>
      <td>26416.0</td>
    </tr>
    <tr>
      <th>98</th>
      <td>2022-07-23 11:00:00</td>
      <td>24476.454861</td>
      <td>0</td>
      <td>24501.0</td>
    </tr>
    <tr>
      <th>99</th>
      <td>2022-07-23 12:00:00</td>
      <td>23296.454861</td>
      <td>0</td>
      <td>23321.0</td>
    </tr>
    <tr>
      <th>100</th>
      <td>2022-07-23 13:00:00</td>
      <td>20455.454861</td>
      <td>0</td>
      <td>20480.0</td>
    </tr>
    <tr>
      <th>101</th>
      <td>2022-07-23 14:00:00</td>
      <td>24064.454861</td>
      <td>0</td>
      <td>24089.0</td>
    </tr>
    <tr>
      <th>102</th>
      <td>2022-07-23 15:00:00</td>
      <td>27649.454861</td>
      <td>0</td>
      <td>27674.0</td>
    </tr>
    <tr>
      <th>103</th>
      <td>2022-07-23 16:00:00</td>
      <td>26711.454861</td>
      <td>0</td>
      <td>26736.0</td>
    </tr>
    <tr>
      <th>104</th>
      <td>2022-07-23 17:00:00</td>
      <td>32440.454861</td>
      <td>0</td>
      <td>32465.0</td>
    </tr>
    <tr>
      <th>105</th>
      <td>2022-07-23 18:00:00</td>
      <td>33481.454861</td>
      <td>0</td>
      <td>33506.0</td>
    </tr>
    <tr>
      <th>106</th>
      <td>2022-07-23 19:00:00</td>
      <td>25910.454861</td>
      <td>0</td>
      <td>25935.0</td>
    </tr>
    <tr>
      <th>107</th>
      <td>2022-07-23 20:00:00</td>
      <td>28606.454861</td>
      <td>0</td>
      <td>28631.0</td>
    </tr>
    <tr>
      <th>108</th>
      <td>2022-07-23 21:00:00</td>
      <td>28122.454861</td>
      <td>0</td>
      <td>28147.0</td>
    </tr>
    <tr>
      <th>109</th>
      <td>2022-07-23 22:00:00</td>
      <td>27650.454861</td>
      <td>0</td>
      <td>27675.0</td>
    </tr>
    <tr>
      <th>110</th>
      <td>2022-07-23 23:00:00</td>
      <td>20702.454861</td>
      <td>0</td>
      <td>20727.0</td>
    </tr>
    <tr>
      <th>111</th>
      <td>2022-07-24 00:00:00</td>
      <td>12920.454861</td>
      <td>0</td>
      <td>12945.0</td>
    </tr>
    <tr>
      <th>112</th>
      <td>2022-07-24 01:00:00</td>
      <td>10944.454861</td>
      <td>0</td>
      <td>10969.0</td>
    </tr>
    <tr>
      <th>113</th>
      <td>2022-07-24 02:00:00</td>
      <td>10172.454861</td>
      <td>0</td>
      <td>10197.0</td>
    </tr>
    <tr>
      <th>114</th>
      <td>2022-07-24 03:00:00</td>
      <td>12084.454861</td>
      <td>0</td>
      <td>12109.0</td>
    </tr>
    <tr>
      <th>115</th>
      <td>2022-07-24 04:00:00</td>
      <td>15430.454861</td>
      <td>0</td>
      <td>15455.0</td>
    </tr>
    <tr>
      <th>116</th>
      <td>2022-07-24 05:00:00</td>
      <td>19808.454861</td>
      <td>0</td>
      <td>19833.0</td>
    </tr>
    <tr>
      <th>117</th>
      <td>2022-07-24 06:00:00</td>
      <td>26085.454861</td>
      <td>0</td>
      <td>26110.0</td>
    </tr>
    <tr>
      <th>118</th>
      <td>2022-07-24 07:00:00</td>
      <td>33304.454861</td>
      <td>0</td>
      <td>33329.0</td>
    </tr>
    <tr>
      <th>119</th>
      <td>2022-07-24 08:00:00</td>
      <td>31673.454861</td>
      <td>0</td>
      <td>31698.0</td>
    </tr>
    <tr>
      <th>120</th>
      <td>2022-07-24 09:00:00</td>
      <td>30681.454861</td>
      <td>0</td>
      <td>30706.0</td>
    </tr>
    <tr>
      <th>121</th>
      <td>2022-07-24 10:00:00</td>
      <td>26415.454861</td>
      <td>0</td>
      <td>26440.0</td>
    </tr>
    <tr>
      <th>122</th>
      <td>2022-07-24 11:00:00</td>
      <td>29114.454861</td>
      <td>0</td>
      <td>29139.0</td>
    </tr>
    <tr>
      <th>123</th>
      <td>2022-07-24 12:00:00</td>
      <td>31895.454861</td>
      <td>0</td>
      <td>31920.0</td>
    </tr>
    <tr>
      <th>124</th>
      <td>2022-07-24 13:00:00</td>
      <td>35115.454861</td>
      <td>0</td>
      <td>35140.0</td>
    </tr>
    <tr>
      <th>125</th>
      <td>2022-07-24 14:00:00</td>
      <td>33720.454861</td>
      <td>0</td>
      <td>33745.0</td>
    </tr>
    <tr>
      <th>126</th>
      <td>2022-07-24 15:00:00</td>
      <td>32735.454861</td>
      <td>0</td>
      <td>32760.0</td>
    </tr>
    <tr>
      <th>127</th>
      <td>2022-07-24 16:00:00</td>
      <td>36603.454861</td>
      <td>0</td>
      <td>36628.0</td>
    </tr>
    <tr>
      <th>128</th>
      <td>2022-07-24 17:00:00</td>
      <td>40102.454861</td>
      <td>0</td>
      <td>40127.0</td>
    </tr>
    <tr>
      <th>129</th>
      <td>2022-07-24 18:00:00</td>
      <td>39785.454861</td>
      <td>0</td>
      <td>39810.0</td>
    </tr>
    <tr>
      <th>130</th>
      <td>2022-07-24 19:00:00</td>
      <td>31879.454861</td>
      <td>0</td>
      <td>31904.0</td>
    </tr>
    <tr>
      <th>131</th>
      <td>2022-07-24 20:00:00</td>
      <td>29900.454861</td>
      <td>0</td>
      <td>29925.0</td>
    </tr>
    <tr>
      <th>132</th>
      <td>2022-07-24 21:00:00</td>
      <td>33024.454861</td>
      <td>0</td>
      <td>33049.0</td>
    </tr>
    <tr>
      <th>133</th>
      <td>2022-07-24 22:00:00</td>
      <td>31738.454861</td>
      <td>0</td>
      <td>31763.0</td>
    </tr>
    <tr>
      <th>134</th>
      <td>2022-07-24 23:00:00</td>
      <td>22055.454861</td>
      <td>0</td>
      <td>22080.0</td>
    </tr>
    <tr>
      <th>135</th>
      <td>2022-07-25 00:00:00</td>
      <td>13594.454861</td>
      <td>0</td>
      <td>13619.0</td>
    </tr>
    <tr>
      <th>136</th>
      <td>2022-07-25 01:00:00</td>
      <td>10746.454861</td>
      <td>0</td>
      <td>10771.0</td>
    </tr>
    <tr>
      <th>137</th>
      <td>2022-07-25 02:00:00</td>
      <td>11377.454861</td>
      <td>0</td>
      <td>11402.0</td>
    </tr>
    <tr>
      <th>138</th>
      <td>2022-07-25 03:00:00</td>
      <td>12645.454861</td>
      <td>0</td>
      <td>12670.0</td>
    </tr>
    <tr>
      <th>139</th>
      <td>2022-07-25 04:00:00</td>
      <td>15765.454861</td>
      <td>0</td>
      <td>15790.0</td>
    </tr>
    <tr>
      <th>140</th>
      <td>2022-07-25 05:00:00</td>
      <td>21778.454861</td>
      <td>0</td>
      <td>21803.0</td>
    </tr>
    <tr>
      <th>141</th>
      <td>2022-07-25 06:00:00</td>
      <td>28288.454861</td>
      <td>0</td>
      <td>28313.0</td>
    </tr>
    <tr>
      <th>142</th>
      <td>2022-07-25 07:00:00</td>
      <td>32469.454861</td>
      <td>0</td>
      <td>32494.0</td>
    </tr>
    <tr>
      <th>143</th>
      <td>2022-07-25 08:00:00</td>
      <td>33721.454861</td>
      <td>0</td>
      <td>33746.0</td>
    </tr>
    <tr>
      <th>144</th>
      <td>2022-07-25 09:00:00</td>
      <td>35769.454861</td>
      <td>0</td>
      <td>35794.0</td>
    </tr>
    <tr>
      <th>145</th>
      <td>2022-07-25 10:00:00</td>
      <td>24942.454861</td>
      <td>0</td>
      <td>24967.0</td>
    </tr>
    <tr>
      <th>146</th>
      <td>2022-07-25 11:00:00</td>
      <td>24523.454861</td>
      <td>0</td>
      <td>24548.0</td>
    </tr>
    <tr>
      <th>147</th>
      <td>2022-07-25 12:00:00</td>
      <td>24866.454861</td>
      <td>0</td>
      <td>24891.0</td>
    </tr>
    <tr>
      <th>148</th>
      <td>2022-07-25 13:00:00</td>
      <td>29966.454861</td>
      <td>0</td>
      <td>29991.0</td>
    </tr>
    <tr>
      <th>149</th>
      <td>2022-07-25 14:00:00</td>
      <td>29066.454861</td>
      <td>0</td>
      <td>29091.0</td>
    </tr>
    <tr>
      <th>150</th>
      <td>2022-07-25 15:00:00</td>
      <td>29499.454861</td>
      <td>0</td>
      <td>29524.0</td>
    </tr>
    <tr>
      <th>151</th>
      <td>2022-07-25 16:00:00</td>
      <td>22945.454861</td>
      <td>0</td>
      <td>22970.0</td>
    </tr>
    <tr>
      <th>152</th>
      <td>2022-07-25 17:00:00</td>
      <td>26509.454861</td>
      <td>0</td>
      <td>26534.0</td>
    </tr>
    <tr>
      <th>153</th>
      <td>2022-07-25 18:00:00</td>
      <td>26542.454861</td>
      <td>0</td>
      <td>26567.0</td>
    </tr>
    <tr>
      <th>154</th>
      <td>2022-07-25 19:00:00</td>
      <td>33085.454861</td>
      <td>0</td>
      <td>33110.0</td>
    </tr>
    <tr>
      <th>155</th>
      <td>2022-07-25 20:00:00</td>
      <td>31823.454861</td>
      <td>0</td>
      <td>31848.0</td>
    </tr>
    <tr>
      <th>156</th>
      <td>2022-07-25 21:00:00</td>
      <td>34133.454861</td>
      <td>0</td>
      <td>34158.0</td>
    </tr>
    <tr>
      <th>157</th>
      <td>2022-07-25 22:00:00</td>
      <td>30469.454861</td>
      <td>0</td>
      <td>30494.0</td>
    </tr>
    <tr>
      <th>158</th>
      <td>2022-07-25 23:00:00</td>
      <td>22492.454861</td>
      <td>0</td>
      <td>22517.0</td>
    </tr>
    <tr>
      <th>159</th>
      <td>2022-07-26 00:00:00</td>
      <td>14876.454861</td>
      <td>0</td>
      <td>14901.0</td>
    </tr>
    <tr>
      <th>160</th>
      <td>2022-07-26 01:00:00</td>
      <td>8894.454861</td>
      <td>0</td>
      <td>8919.0</td>
    </tr>
    <tr>
      <th>161</th>
      <td>2022-07-26 02:00:00</td>
      <td>10453.454861</td>
      <td>0</td>
      <td>10478.0</td>
    </tr>
    <tr>
      <th>162</th>
      <td>2022-07-26 03:00:00</td>
      <td>12100.454861</td>
      <td>0</td>
      <td>12125.0</td>
    </tr>
    <tr>
      <th>163</th>
      <td>2022-07-26 04:00:00</td>
      <td>17210.454861</td>
      <td>0</td>
      <td>17235.0</td>
    </tr>
    <tr>
      <th>164</th>
      <td>2022-07-26 05:00:00</td>
      <td>22961.454861</td>
      <td>0</td>
      <td>22986.0</td>
    </tr>
    <tr>
      <th>165</th>
      <td>2022-07-26 06:00:00</td>
      <td>28258.454861</td>
      <td>0</td>
      <td>28283.0</td>
    </tr>
    <tr>
      <th>166</th>
      <td>2022-07-26 07:00:00</td>
      <td>34021.454861</td>
      <td>0</td>
      <td>34046.0</td>
    </tr>
    <tr>
      <th>167</th>
      <td>2022-07-26 08:00:00</td>
      <td>32639.454861</td>
      <td>0</td>
      <td>32664.0</td>
    </tr>
    <tr>
      <th>168</th>
      <td>2022-07-26 09:00:00</td>
      <td>34490.454861</td>
      <td>0</td>
      <td>34515.0</td>
    </tr>
    <tr>
      <th>169</th>
      <td>2022-07-26 10:00:00</td>
      <td>76915.454861</td>
      <td>0</td>
      <td>76940.0</td>
    </tr>
    <tr>
      <th>170</th>
      <td>2022-07-26 11:00:00</td>
      <td>115786.454861</td>
      <td>0</td>
      <td>115811.0</td>
    </tr>
    <tr>
      <th>171</th>
      <td>2022-07-26 12:00:00</td>
      <td>66896.454861</td>
      <td>0</td>
      <td>66921.0</td>
    </tr>
    <tr>
      <th>172</th>
      <td>2022-07-26 13:00:00</td>
      <td>41207.454861</td>
      <td>0</td>
      <td>41232.0</td>
    </tr>
    <tr>
      <th>173</th>
      <td>2022-07-26 14:00:00</td>
      <td>44508.454861</td>
      <td>0</td>
      <td>44533.0</td>
    </tr>
    <tr>
      <th>174</th>
      <td>2022-07-26 15:00:00</td>
      <td>61962.454861</td>
      <td>0</td>
      <td>61987.0</td>
    </tr>
    <tr>
      <th>175</th>
      <td>2022-07-26 16:00:00</td>
      <td>48482.454861</td>
      <td>0</td>
      <td>48507.0</td>
    </tr>
    <tr>
      <th>176</th>
      <td>2022-07-26 17:00:00</td>
      <td>50386.454861</td>
      <td>0</td>
      <td>50411.0</td>
    </tr>
    <tr>
      <th>177</th>
      <td>2022-07-26 18:00:00</td>
      <td>52078.454861</td>
      <td>0</td>
      <td>52103.0</td>
    </tr>
    <tr>
      <th>178</th>
      <td>2022-07-26 19:00:00</td>
      <td>52453.454861</td>
      <td>0</td>
      <td>52478.0</td>
    </tr>
    <tr>
      <th>179</th>
      <td>2022-07-26 20:00:00</td>
      <td>56605.454861</td>
      <td>0</td>
      <td>56630.0</td>
    </tr>
    <tr>
      <th>180</th>
      <td>2022-07-26 21:00:00</td>
      <td>58038.454861</td>
      <td>0</td>
      <td>58063.0</td>
    </tr>
    <tr>
      <th>181</th>
      <td>2022-07-26 22:00:00</td>
      <td>38081.454861</td>
      <td>0</td>
      <td>38106.0</td>
    </tr>
    <tr>
      <th>182</th>
      <td>2022-07-26 23:00:00</td>
      <td>25143.454861</td>
      <td>0</td>
      <td>25168.0</td>
    </tr>
    <tr>
      <th>183</th>
      <td>2022-07-27 00:00:00</td>
      <td>18393.454861</td>
      <td>0</td>
      <td>18418.0</td>
    </tr>
    <tr>
      <th>184</th>
      <td>2022-07-27 01:00:00</td>
      <td>12905.454861</td>
      <td>0</td>
      <td>12930.0</td>
    </tr>
    <tr>
      <th>185</th>
      <td>2022-07-27 02:00:00</td>
      <td>12637.454861</td>
      <td>0</td>
      <td>12662.0</td>
    </tr>
    <tr>
      <th>186</th>
      <td>2022-07-27 03:00:00</td>
      <td>15185.454861</td>
      <td>0</td>
      <td>15210.0</td>
    </tr>
    <tr>
      <th>187</th>
      <td>2022-07-27 04:00:00</td>
      <td>20351.454861</td>
      <td>0</td>
      <td>20376.0</td>
    </tr>
    <tr>
      <th>188</th>
      <td>2022-07-27 05:00:00</td>
      <td>26670.454861</td>
      <td>0</td>
      <td>26695.0</td>
    </tr>
    <tr>
      <th>189</th>
      <td>2022-07-27 06:00:00</td>
      <td>33254.454861</td>
      <td>0</td>
      <td>33279.0</td>
    </tr>
    <tr>
      <th>190</th>
      <td>2022-07-27 07:00:00</td>
      <td>40070.454861</td>
      <td>0</td>
      <td>40095.0</td>
    </tr>
    <tr>
      <th>191</th>
      <td>2022-07-27 08:00:00</td>
      <td>42753.454861</td>
      <td>0</td>
      <td>42778.0</td>
    </tr>
    <tr>
      <th>192</th>
      <td>2022-07-27 09:00:00</td>
      <td>36002.454861</td>
      <td>0</td>
      <td>36027.0</td>
    </tr>
    <tr>
      <th>193</th>
      <td>2022-07-27 10:00:00</td>
      <td>32280.454861</td>
      <td>0</td>
      <td>32305.0</td>
    </tr>
    <tr>
      <th>194</th>
      <td>2022-07-27 11:00:00</td>
      <td>32540.454861</td>
      <td>0</td>
      <td>32565.0</td>
    </tr>
    <tr>
      <th>195</th>
      <td>2022-07-27 12:00:00</td>
      <td>30426.454861</td>
      <td>0</td>
      <td>30451.0</td>
    </tr>
    <tr>
      <th>196</th>
      <td>2022-07-27 13:00:00</td>
      <td>31093.454861</td>
      <td>0</td>
      <td>31118.0</td>
    </tr>
    <tr>
      <th>197</th>
      <td>2022-07-27 14:00:00</td>
      <td>28263.454861</td>
      <td>0</td>
      <td>28288.0</td>
    </tr>
    <tr>
      <th>198</th>
      <td>2022-07-27 15:00:00</td>
      <td>35869.454861</td>
      <td>0</td>
      <td>35894.0</td>
    </tr>
    <tr>
      <th>199</th>
      <td>2022-07-27 16:00:00</td>
      <td>29396.454861</td>
      <td>0</td>
      <td>29421.0</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2022-07-27 17:00:00</td>
      <td>26938.454861</td>
      <td>0</td>
      <td>26963.0</td>
    </tr>
    <tr>
      <th>201</th>
      <td>2022-07-27 18:00:00</td>
      <td>27663.454861</td>
      <td>0</td>
      <td>27688.0</td>
    </tr>
    <tr>
      <th>202</th>
      <td>2022-07-27 19:00:00</td>
      <td>27344.454861</td>
      <td>0</td>
      <td>27369.0</td>
    </tr>
    <tr>
      <th>203</th>
      <td>2022-07-27 20:00:00</td>
      <td>28024.454861</td>
      <td>0</td>
      <td>28049.0</td>
    </tr>
    <tr>
      <th>204</th>
      <td>2022-07-27 21:00:00</td>
      <td>28509.454861</td>
      <td>0</td>
      <td>28534.0</td>
    </tr>
    <tr>
      <th>205</th>
      <td>2022-07-27 22:00:00</td>
      <td>25706.454861</td>
      <td>0</td>
      <td>25731.0</td>
    </tr>
    <tr>
      <th>206</th>
      <td>2022-07-27 23:00:00</td>
      <td>19578.454861</td>
      <td>0</td>
      <td>19603.0</td>
    </tr>
    <tr>
      <th>207</th>
      <td>2022-07-28 00:00:00</td>
      <td>13826.454861</td>
      <td>0</td>
      <td>13851.0</td>
    </tr>
    <tr>
      <th>208</th>
      <td>2022-07-28 01:00:00</td>
      <td>10407.454861</td>
      <td>0</td>
      <td>10432.0</td>
    </tr>
    <tr>
      <th>209</th>
      <td>2022-07-28 02:00:00</td>
      <td>10243.454861</td>
      <td>0</td>
      <td>10268.0</td>
    </tr>
    <tr>
      <th>210</th>
      <td>2022-07-28 03:00:00</td>
      <td>13424.454861</td>
      <td>0</td>
      <td>13449.0</td>
    </tr>
    <tr>
      <th>211</th>
      <td>2022-07-28 04:00:00</td>
      <td>17979.454861</td>
      <td>0</td>
      <td>18004.0</td>
    </tr>
    <tr>
      <th>212</th>
      <td>2022-07-28 05:00:00</td>
      <td>25097.454861</td>
      <td>0</td>
      <td>25122.0</td>
    </tr>
    <tr>
      <th>213</th>
      <td>2022-07-28 06:00:00</td>
      <td>31568.454861</td>
      <td>0</td>
      <td>31593.0</td>
    </tr>
    <tr>
      <th>214</th>
      <td>2022-07-28 07:00:00</td>
      <td>39340.454861</td>
      <td>0</td>
      <td>39365.0</td>
    </tr>
    <tr>
      <th>215</th>
      <td>2022-07-28 08:00:00</td>
      <td>37803.454861</td>
      <td>0</td>
      <td>37828.0</td>
    </tr>
    <tr>
      <th>216</th>
      <td>2022-07-28 09:00:00</td>
      <td>41249.454861</td>
      <td>0</td>
      <td>41274.0</td>
    </tr>
    <tr>
      <th>217</th>
      <td>2022-07-28 10:00:00</td>
      <td>25603.454861</td>
      <td>0</td>
      <td>25628.0</td>
    </tr>
    <tr>
      <th>218</th>
      <td>2022-07-28 11:00:00</td>
      <td>27050.454861</td>
      <td>0</td>
      <td>27075.0</td>
    </tr>
    <tr>
      <th>219</th>
      <td>2022-07-28 12:00:00</td>
      <td>28742.454861</td>
      <td>0</td>
      <td>28767.0</td>
    </tr>
    <tr>
      <th>220</th>
      <td>2022-07-28 13:00:00</td>
      <td>27322.454861</td>
      <td>0</td>
      <td>27347.0</td>
    </tr>
    <tr>
      <th>221</th>
      <td>2022-07-28 14:00:00</td>
      <td>25601.454861</td>
      <td>0</td>
      <td>25626.0</td>
    </tr>
    <tr>
      <th>222</th>
      <td>2022-07-28 15:00:00</td>
      <td>30879.454861</td>
      <td>0</td>
      <td>30904.0</td>
    </tr>
    <tr>
      <th>223</th>
      <td>2022-07-28 16:00:00</td>
      <td>26313.454861</td>
      <td>0</td>
      <td>26338.0</td>
    </tr>
    <tr>
      <th>224</th>
      <td>2022-07-28 17:00:00</td>
      <td>27610.454861</td>
      <td>0</td>
      <td>27635.0</td>
    </tr>
    <tr>
      <th>225</th>
      <td>2022-07-28 18:00:00</td>
      <td>25501.454861</td>
      <td>0</td>
      <td>25526.0</td>
    </tr>
    <tr>
      <th>226</th>
      <td>2022-07-28 19:00:00</td>
      <td>25016.454861</td>
      <td>0</td>
      <td>25041.0</td>
    </tr>
    <tr>
      <th>227</th>
      <td>2022-07-28 20:00:00</td>
      <td>24680.454861</td>
      <td>0</td>
      <td>24705.0</td>
    </tr>
    <tr>
      <th>228</th>
      <td>2022-07-28 21:00:00</td>
      <td>28002.454861</td>
      <td>0</td>
      <td>28027.0</td>
    </tr>
    <tr>
      <th>229</th>
      <td>2022-07-28 22:00:00</td>
      <td>23318.454861</td>
      <td>0</td>
      <td>23343.0</td>
    </tr>
    <tr>
      <th>230</th>
      <td>2022-07-28 23:00:00</td>
      <td>17496.454861</td>
      <td>0</td>
      <td>17521.0</td>
    </tr>
    <tr>
      <th>231</th>
      <td>2022-07-29 00:00:00</td>
      <td>12816.454861</td>
      <td>0</td>
      <td>12841.0</td>
    </tr>
    <tr>
      <th>232</th>
      <td>2022-07-29 01:00:00</td>
      <td>10332.454861</td>
      <td>0</td>
      <td>10357.0</td>
    </tr>
    <tr>
      <th>233</th>
      <td>2022-07-29 02:00:00</td>
      <td>10165.454861</td>
      <td>0</td>
      <td>10190.0</td>
    </tr>
    <tr>
      <th>234</th>
      <td>2022-07-29 03:00:00</td>
      <td>11767.454861</td>
      <td>0</td>
      <td>11792.0</td>
    </tr>
    <tr>
      <th>235</th>
      <td>2022-07-29 04:00:00</td>
      <td>14698.454861</td>
      <td>0</td>
      <td>14723.0</td>
    </tr>
    <tr>
      <th>236</th>
      <td>2022-07-29 05:00:00</td>
      <td>20455.454861</td>
      <td>0</td>
      <td>20480.0</td>
    </tr>
    <tr>
      <th>237</th>
      <td>2022-07-29 06:00:00</td>
      <td>25716.454861</td>
      <td>0</td>
      <td>25741.0</td>
    </tr>
    <tr>
      <th>238</th>
      <td>2022-07-29 07:00:00</td>
      <td>30613.454861</td>
      <td>0</td>
      <td>30638.0</td>
    </tr>
    <tr>
      <th>239</th>
      <td>2022-07-29 08:00:00</td>
      <td>32577.454861</td>
      <td>0</td>
      <td>32602.0</td>
    </tr>
    <tr>
      <th>240</th>
      <td>2022-07-29 09:00:00</td>
      <td>31020.454861</td>
      <td>0</td>
      <td>31045.0</td>
    </tr>
    <tr>
      <th>241</th>
      <td>2022-07-29 10:00:00</td>
      <td>28204.454861</td>
      <td>0</td>
      <td>28229.0</td>
    </tr>
    <tr>
      <th>242</th>
      <td>2022-07-29 11:00:00</td>
      <td>31214.454861</td>
      <td>0</td>
      <td>31239.0</td>
    </tr>
    <tr>
      <th>243</th>
      <td>2022-07-29 12:00:00</td>
      <td>52018.454861</td>
      <td>0</td>
      <td>52043.0</td>
    </tr>
    <tr>
      <th>244</th>
      <td>2022-07-29 13:00:00</td>
      <td>26907.454861</td>
      <td>0</td>
      <td>26932.0</td>
    </tr>
    <tr>
      <th>245</th>
      <td>2022-07-29 14:00:00</td>
      <td>26648.454861</td>
      <td>0</td>
      <td>26673.0</td>
    </tr>
    <tr>
      <th>246</th>
      <td>2022-07-29 15:00:00</td>
      <td>25489.454861</td>
      <td>0</td>
      <td>25514.0</td>
    </tr>
    <tr>
      <th>247</th>
      <td>2022-07-29 16:00:00</td>
      <td>26489.454861</td>
      <td>0</td>
      <td>26514.0</td>
    </tr>
    <tr>
      <th>248</th>
      <td>2022-07-29 17:00:00</td>
      <td>25309.454861</td>
      <td>0</td>
      <td>25334.0</td>
    </tr>
    <tr>
      <th>249</th>
      <td>2022-07-29 18:00:00</td>
      <td>22832.454861</td>
      <td>0</td>
      <td>22857.0</td>
    </tr>
    <tr>
      <th>250</th>
      <td>2022-07-29 19:00:00</td>
      <td>23746.454861</td>
      <td>0</td>
      <td>23771.0</td>
    </tr>
    <tr>
      <th>251</th>
      <td>2022-07-29 20:00:00</td>
      <td>24597.454861</td>
      <td>0</td>
      <td>24622.0</td>
    </tr>
    <tr>
      <th>252</th>
      <td>2022-07-29 21:00:00</td>
      <td>27032.454861</td>
      <td>0</td>
      <td>27057.0</td>
    </tr>
    <tr>
      <th>253</th>
      <td>2022-07-29 22:00:00</td>
      <td>22300.454861</td>
      <td>0</td>
      <td>22325.0</td>
    </tr>
    <tr>
      <th>254</th>
      <td>2022-07-29 23:00:00</td>
      <td>18073.454861</td>
      <td>0</td>
      <td>18098.0</td>
    </tr>
    <tr>
      <th>255</th>
      <td>2022-07-30 00:00:00</td>
      <td>11477.454861</td>
      <td>0</td>
      <td>11502.0</td>
    </tr>
    <tr>
      <th>256</th>
      <td>2022-07-30 01:00:00</td>
      <td>9135.454861</td>
      <td>0</td>
      <td>9160.0</td>
    </tr>
    <tr>
      <th>257</th>
      <td>2022-07-30 02:00:00</td>
      <td>8594.454861</td>
      <td>0</td>
      <td>8619.0</td>
    </tr>
    <tr>
      <th>258</th>
      <td>2022-07-30 03:00:00</td>
      <td>11743.454861</td>
      <td>0</td>
      <td>11768.0</td>
    </tr>
    <tr>
      <th>259</th>
      <td>2022-07-30 04:00:00</td>
      <td>14262.454861</td>
      <td>0</td>
      <td>14287.0</td>
    </tr>
    <tr>
      <th>260</th>
      <td>2022-07-30 05:00:00</td>
      <td>17424.454861</td>
      <td>0</td>
      <td>17449.0</td>
    </tr>
    <tr>
      <th>261</th>
      <td>2022-07-30 06:00:00</td>
      <td>23078.454861</td>
      <td>0</td>
      <td>23103.0</td>
    </tr>
    <tr>
      <th>262</th>
      <td>2022-07-30 07:00:00</td>
      <td>33527.454861</td>
      <td>0</td>
      <td>33552.0</td>
    </tr>
    <tr>
      <th>263</th>
      <td>2022-07-30 08:00:00</td>
      <td>33122.454861</td>
      <td>0</td>
      <td>33147.0</td>
    </tr>
    <tr>
      <th>264</th>
      <td>2022-07-30 09:00:00</td>
      <td>33491.454861</td>
      <td>0</td>
      <td>33516.0</td>
    </tr>
    <tr>
      <th>265</th>
      <td>2022-07-30 10:00:00</td>
      <td>29474.454861</td>
      <td>0</td>
      <td>29499.0</td>
    </tr>
    <tr>
      <th>266</th>
      <td>2022-07-30 11:00:00</td>
      <td>28862.454861</td>
      <td>0</td>
      <td>28887.0</td>
    </tr>
    <tr>
      <th>267</th>
      <td>2022-07-30 12:00:00</td>
      <td>27210.454861</td>
      <td>0</td>
      <td>27235.0</td>
    </tr>
    <tr>
      <th>268</th>
      <td>2022-07-30 13:00:00</td>
      <td>27651.454861</td>
      <td>0</td>
      <td>27676.0</td>
    </tr>
    <tr>
      <th>269</th>
      <td>2022-07-30 14:00:00</td>
      <td>25523.454861</td>
      <td>0</td>
      <td>25548.0</td>
    </tr>
    <tr>
      <th>270</th>
      <td>2022-07-30 15:00:00</td>
      <td>27149.454861</td>
      <td>0</td>
      <td>27174.0</td>
    </tr>
    <tr>
      <th>271</th>
      <td>2022-07-30 16:00:00</td>
      <td>29747.454861</td>
      <td>0</td>
      <td>29772.0</td>
    </tr>
    <tr>
      <th>272</th>
      <td>2022-07-30 17:00:00</td>
      <td>28493.454861</td>
      <td>0</td>
      <td>28518.0</td>
    </tr>
    <tr>
      <th>273</th>
      <td>2022-07-30 18:00:00</td>
      <td>31291.454861</td>
      <td>0</td>
      <td>31316.0</td>
    </tr>
    <tr>
      <th>274</th>
      <td>2022-07-30 19:00:00</td>
      <td>28295.454861</td>
      <td>0</td>
      <td>28320.0</td>
    </tr>
    <tr>
      <th>275</th>
      <td>2022-07-30 20:00:00</td>
      <td>28105.454861</td>
      <td>0</td>
      <td>28130.0</td>
    </tr>
    <tr>
      <th>276</th>
      <td>2022-07-30 21:00:00</td>
      <td>30317.454861</td>
      <td>0</td>
      <td>30342.0</td>
    </tr>
    <tr>
      <th>277</th>
      <td>2022-07-30 22:00:00</td>
      <td>23917.454861</td>
      <td>0</td>
      <td>23942.0</td>
    </tr>
    <tr>
      <th>278</th>
      <td>2022-07-30 23:00:00</td>
      <td>19848.454861</td>
      <td>0</td>
      <td>19873.0</td>
    </tr>
    <tr>
      <th>279</th>
      <td>2022-07-31 00:00:00</td>
      <td>16458.454861</td>
      <td>0</td>
      <td>16483.0</td>
    </tr>
    <tr>
      <th>280</th>
      <td>2022-07-31 01:00:00</td>
      <td>12993.454861</td>
      <td>0</td>
      <td>13018.0</td>
    </tr>
    <tr>
      <th>281</th>
      <td>2022-07-31 02:00:00</td>
      <td>11586.454861</td>
      <td>0</td>
      <td>11611.0</td>
    </tr>
    <tr>
      <th>282</th>
      <td>2022-07-31 03:00:00</td>
      <td>13103.454861</td>
      <td>0</td>
      <td>13128.0</td>
    </tr>
    <tr>
      <th>283</th>
      <td>2022-07-31 04:00:00</td>
      <td>14664.454861</td>
      <td>0</td>
      <td>14689.0</td>
    </tr>
    <tr>
      <th>284</th>
      <td>2022-07-31 05:00:00</td>
      <td>19313.454861</td>
      <td>0</td>
      <td>19338.0</td>
    </tr>
    <tr>
      <th>285</th>
      <td>2022-07-31 06:00:00</td>
      <td>25492.454861</td>
      <td>0</td>
      <td>25517.0</td>
    </tr>
    <tr>
      <th>286</th>
      <td>2022-07-31 07:00:00</td>
      <td>33711.454861</td>
      <td>0</td>
      <td>33736.0</td>
    </tr>
    <tr>
      <th>287</th>
      <td>2022-07-31 08:00:00</td>
      <td>37697.454861</td>
      <td>0</td>
      <td>37722.0</td>
    </tr>
    <tr>
      <th>288</th>
      <td>2022-07-31 09:00:00</td>
      <td>43738.454861</td>
      <td>0</td>
      <td>43763.0</td>
    </tr>
    <tr>
      <th>289</th>
      <td>2022-07-31 10:00:00</td>
      <td>42333.454861</td>
      <td>0</td>
      <td>42358.0</td>
    </tr>
    <tr>
      <th>290</th>
      <td>2022-07-31 11:00:00</td>
      <td>39254.454861</td>
      <td>0</td>
      <td>39279.0</td>
    </tr>
    <tr>
      <th>291</th>
      <td>2022-07-31 12:00:00</td>
      <td>38439.454861</td>
      <td>0</td>
      <td>38464.0</td>
    </tr>
    <tr>
      <th>292</th>
      <td>2022-07-31 13:00:00</td>
      <td>42185.454861</td>
      <td>0</td>
      <td>42210.0</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2022-07-31 14:00:00</td>
      <td>44258.454861</td>
      <td>0</td>
      <td>44283.0</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2022-07-31 15:00:00</td>
      <td>44848.454861</td>
      <td>0</td>
      <td>44873.0</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2022-07-31 16:00:00</td>
      <td>39988.454861</td>
      <td>0</td>
      <td>40013.0</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2022-07-31 17:00:00</td>
      <td>37197.454861</td>
      <td>0</td>
      <td>37222.0</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2022-07-31 18:00:00</td>
      <td>40070.454861</td>
      <td>0</td>
      <td>40095.0</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2022-07-31 19:00:00</td>
      <td>38530.454861</td>
      <td>0</td>
      <td>38555.0</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2022-07-31 20:00:00</td>
      <td>35669.454861</td>
      <td>0</td>
      <td>35694.0</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2022-07-31 21:00:00</td>
      <td>35955.454861</td>
      <td>0</td>
      <td>35980.0</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2022-07-31 22:00:00</td>
      <td>30895.454861</td>
      <td>0</td>
      <td>30920.0</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2022-07-31 23:00:00</td>
      <td>24124.454861</td>
      <td>0</td>
      <td>24149.0</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2022-08-01 00:00:00</td>
      <td>17933.454861</td>
      <td>0</td>
      <td>17958.0</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2022-08-01 01:00:00</td>
      <td>13810.454861</td>
      <td>0</td>
      <td>13835.0</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2022-08-01 02:00:00</td>
      <td>12826.454861</td>
      <td>0</td>
      <td>12851.0</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2022-08-01 03:00:00</td>
      <td>15340.454861</td>
      <td>0</td>
      <td>15365.0</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2022-08-01 04:00:00</td>
      <td>20570.454861</td>
      <td>0</td>
      <td>20595.0</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2022-08-01 05:00:00</td>
      <td>24788.454861</td>
      <td>0</td>
      <td>24813.0</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2022-08-01 06:00:00</td>
      <td>32941.454861</td>
      <td>0</td>
      <td>32966.0</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2022-08-01 07:00:00</td>
      <td>39554.454861</td>
      <td>0</td>
      <td>39579.0</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2022-08-01 08:00:00</td>
      <td>40788.454861</td>
      <td>0</td>
      <td>40813.0</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2022-08-01 09:00:00</td>
      <td>35250.454861</td>
      <td>0</td>
      <td>35275.0</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2022-08-01 10:00:00</td>
      <td>32500.454861</td>
      <td>0</td>
      <td>32525.0</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2022-08-01 11:00:00</td>
      <td>25256.454861</td>
      <td>0</td>
      <td>25281.0</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2022-08-01 12:00:00</td>
      <td>29694.454861</td>
      <td>0</td>
      <td>29719.0</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2022-08-01 13:00:00</td>
      <td>28924.454861</td>
      <td>0</td>
      <td>28949.0</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2022-08-01 14:00:00</td>
      <td>29137.454861</td>
      <td>0</td>
      <td>29162.0</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2022-08-01 15:00:00</td>
      <td>28425.454861</td>
      <td>0</td>
      <td>28450.0</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2022-08-01 16:00:00</td>
      <td>28086.454861</td>
      <td>0</td>
      <td>28111.0</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2022-08-01 17:00:00</td>
      <td>29633.454861</td>
      <td>0</td>
      <td>29658.0</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2022-08-01 18:00:00</td>
      <td>31235.454861</td>
      <td>0</td>
      <td>31260.0</td>
    </tr>
    <tr>
      <th>322</th>
      <td>2022-08-01 19:00:00</td>
      <td>32453.454861</td>
      <td>0</td>
      <td>32478.0</td>
    </tr>
    <tr>
      <th>323</th>
      <td>2022-08-01 20:00:00</td>
      <td>33106.454861</td>
      <td>0</td>
      <td>33131.0</td>
    </tr>
    <tr>
      <th>324</th>
      <td>2022-08-01 21:00:00</td>
      <td>33109.454861</td>
      <td>0</td>
      <td>33134.0</td>
    </tr>
    <tr>
      <th>325</th>
      <td>2022-08-01 22:00:00</td>
      <td>28012.454861</td>
      <td>0</td>
      <td>28037.0</td>
    </tr>
    <tr>
      <th>326</th>
      <td>2022-08-01 23:00:00</td>
      <td>22264.454861</td>
      <td>0</td>
      <td>22289.0</td>
    </tr>
    <tr>
      <th>327</th>
      <td>2022-08-02 00:00:00</td>
      <td>15079.454861</td>
      <td>0</td>
      <td>15104.0</td>
    </tr>
    <tr>
      <th>328</th>
      <td>2022-08-02 01:00:00</td>
      <td>11185.454861</td>
      <td>0</td>
      <td>11210.0</td>
    </tr>
    <tr>
      <th>329</th>
      <td>2022-08-02 02:00:00</td>
      <td>10513.454861</td>
      <td>0</td>
      <td>10538.0</td>
    </tr>
    <tr>
      <th>330</th>
      <td>2022-08-02 03:00:00</td>
      <td>12861.454861</td>
      <td>0</td>
      <td>12886.0</td>
    </tr>
    <tr>
      <th>331</th>
      <td>2022-08-02 04:00:00</td>
      <td>16365.454861</td>
      <td>0</td>
      <td>16390.0</td>
    </tr>
    <tr>
      <th>332</th>
      <td>2022-08-02 05:00:00</td>
      <td>22482.454861</td>
      <td>0</td>
      <td>22507.0</td>
    </tr>
    <tr>
      <th>333</th>
      <td>2022-08-02 06:00:00</td>
      <td>29920.454861</td>
      <td>0</td>
      <td>29945.0</td>
    </tr>
    <tr>
      <th>334</th>
      <td>2022-08-02 07:00:00</td>
      <td>37541.454861</td>
      <td>0</td>
      <td>37566.0</td>
    </tr>
    <tr>
      <th>335</th>
      <td>2022-08-02 08:00:00</td>
      <td>38542.454861</td>
      <td>0</td>
      <td>38567.0</td>
    </tr>
    <tr>
      <th>336</th>
      <td>2022-08-02 09:00:00</td>
      <td>37129.454861</td>
      <td>0</td>
      <td>37154.0</td>
    </tr>
    <tr>
      <th>337</th>
      <td>2022-08-02 10:00:00</td>
      <td>31546.454861</td>
      <td>0</td>
      <td>31571.0</td>
    </tr>
    <tr>
      <th>338</th>
      <td>2022-08-02 11:00:00</td>
      <td>28142.454861</td>
      <td>0</td>
      <td>28167.0</td>
    </tr>
    <tr>
      <th>339</th>
      <td>2022-08-02 12:00:00</td>
      <td>25806.454861</td>
      <td>0</td>
      <td>25831.0</td>
    </tr>
    <tr>
      <th>340</th>
      <td>2022-08-02 13:00:00</td>
      <td>25221.454861</td>
      <td>0</td>
      <td>25246.0</td>
    </tr>
    <tr>
      <th>341</th>
      <td>2022-08-02 14:00:00</td>
      <td>26257.454861</td>
      <td>0</td>
      <td>26282.0</td>
    </tr>
    <tr>
      <th>342</th>
      <td>2022-08-02 15:00:00</td>
      <td>29628.454861</td>
      <td>0</td>
      <td>29653.0</td>
    </tr>
    <tr>
      <th>343</th>
      <td>2022-08-02 16:00:00</td>
      <td>26144.454861</td>
      <td>0</td>
      <td>26169.0</td>
    </tr>
    <tr>
      <th>344</th>
      <td>2022-08-02 17:00:00</td>
      <td>28848.235634</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>345</th>
      <td>2022-08-02 18:00:00</td>
      <td>30524.775868</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>346</th>
      <td>2022-08-02 19:00:00</td>
      <td>31789.219547</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>347</th>
      <td>2022-08-02 20:00:00</td>
      <td>32453.819441</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>348</th>
      <td>2022-08-02 21:00:00</td>
      <td>32470.599485</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>349</th>
      <td>2022-08-02 22:00:00</td>
      <td>27387.051802</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>350</th>
      <td>2022-08-02 23:00:00</td>
      <td>21642.240687</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>351</th>
      <td>2022-08-03 00:00:00</td>
      <td>14469.915389</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>352</th>
      <td>2022-08-03 01:00:00</td>
      <td>10586.282947</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>353</th>
      <td>2022-08-03 02:00:00</td>
      <td>9921.525275</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>354</th>
      <td>2022-08-03 03:00:00</td>
      <td>12278.175015</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>355</th>
      <td>2022-08-03 04:00:00</td>
      <td>15806.879454</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>356</th>
      <td>2022-08-03 05:00:00</td>
      <td>21929.671985</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>357</th>
      <td>2022-08-03 06:00:00</td>
      <td>29379.687360</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>358</th>
      <td>2022-08-03 07:00:00</td>
      <td>37002.452847</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>359</th>
      <td>2022-08-03 08:00:00</td>
      <td>38007.253684</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>360</th>
      <td>2022-08-03 09:00:00</td>
      <td>36559.230869</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>361</th>
      <td>2022-08-03 10:00:00</td>
      <td>30969.763635</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>362</th>
      <td>2022-08-03 11:00:00</td>
      <td>27523.782567</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>363</th>
      <td>2022-08-03 12:00:00</td>
      <td>25212.175078</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>364</th>
      <td>2022-08-03 13:00:00</td>
      <td>24650.788731</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>365</th>
      <td>2022-08-03 14:00:00</td>
      <td>25703.640555</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>366</th>
      <td>2022-08-03 15:00:00</td>
      <td>29053.542514</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>367</th>
      <td>2022-08-03 16:00:00</td>
      <td>25579.916667</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>