<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="grid-container">
        <div class="header">
            <h1 id="headerGreating">Welcome to shows forecaster!</h1>
            <p id="mainInfo">
                In this site page you can enter campaning name and find <br>
                predict for shows number in this company. 
            </p>
        </div>
        <div class="formForName">
            <form action="" method="post">
                <label for="campaign" class="campaignLabel">Enter a campaign name</label><br>
                <input type="text" name="campaign" class="campaignInput"><br>
                <label for="pred_n" class="predLabel">Choise predict length:</label>
                <select name="pred_n" class="predDropDown">
                    <option value="24">1 day</option>
                    <option value="48">2 day</option>
                    <option value="72" selected>3 day</option>
                    <option value="96">4 day</option>
                    <option value="120">5 day</option>
                    <option value="144">6 day</option>
                    <option value="168">7 day</option>
                    <option value="192">8 day</option>
                    <option value="216">9 day</option>
                    <option value="240">10 day</option>
                </select><br>
                <label for="accurancy" class="accurancyLabel">Choise minimal 
                                    accurancy level for this model: </label>
                <select name="accurancy" class="accurancyDropDown">
                    <option value="0.85">85%</option>
                    <option value="0.90">90%</option>
                    <option value="0.95" selected>95%</option>
                    <option value="0.99">99%</option>
                    <option value="0.9999">99.99%</option>
                </select><br>
                <input type="submit" class="campaignSubmit"><br>
            </form> 
        </div>
        <div class="or">
            <b id="or">OR</b>
        </div>
        <div class="forAdvId">
            <form action="" method="post">
                <label for="campaignId" class="advLabel">Choise campaign ID</label><br>
                <input type="text" name="campaignId" class="advInput"><br>
                <label for="pred_n" class="predLabel">Choise predict length:</label>
                <select name="pred_n" class="predDropDown">
                    <option value="24">1 day</option>
                    <option value="48">2 day</option>
                    <option value="72" selected>3 day</option>
                    <option value="96">4 day</option>
                    <option value="120">5 day</option>
                    <option value="144">6 day</option>
                    <option value="168">7 day</option>
                    <option value="192">8 day</option>
                    <option value="216">9 day</option>
                    <option value="240">10 day</option>
                </select><br>
                <label for="accurancy" class="accurancyLabel">Choise minimal 
                                    accurancy level for this model: </label>
                <select name="accurancy" class="accurancyDropDown">
                    <option value="0.85">85%</option>
                    <option value="0.90">90%</option>
                    <option value="0.95" selected>95%</option>
                    <option value="0.99">99%</option>
                    <option value="0.9999">99.99%</option>
                </select><br>
                <input type="submit" class="camSubmit">
            </form>
        </div>
        <div class="lastPredict">
            <p id="lastPredict">Previous results of forecasting</p>
            <div class="idList">
                {% if length != 0: %}
                    {% for keys, vals in links.items(): %}
                        <a href="{{ vals }}">Back to {{ keys }} result</a><br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="footer">
            <a id="footerHeading" href="{{ valsFoot }}">Also you can calculate sum of shows, 
                    clicks and postbacks campaign name</a>
        </div>
    </div>
</body>
</html>

