<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>shows</th>
      <th>forecast</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2022-07-29 10:00:00</td>
      <td>600349.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2022-07-29 09:00:00</td>
      <td>593195.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2022-07-29 08:00:00</td>
      <td>620593.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2022-07-29 07:00:00</td>
      <td>587911.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2022-07-29 06:00:00</td>
      <td>493169.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2022-07-29 05:00:00</td>
      <td>388223.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2022-07-29 04:00:00</td>
      <td>254294.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2022-07-29 03:00:00</td>
      <td>200582.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2022-07-29 02:00:00</td>
      <td>170458.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2022-07-29 01:00:00</td>
      <td>175877.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2022-07-29 00:00:00</td>
      <td>221623.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2022-07-28 23:00:00</td>
      <td>314146.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2022-07-28 22:00:00</td>
      <td>416769.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2022-07-28 21:00:00</td>
      <td>523597.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2022-07-28 20:00:00</td>
      <td>463834.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2022-07-28 19:00:00</td>
      <td>528290.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2022-07-28 18:00:00</td>
      <td>557462.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2022-07-28 17:00:00</td>
      <td>580401.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2022-07-28 16:00:00</td>
      <td>582921.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2022-07-28 15:00:00</td>
      <td>665750.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2022-07-28 14:00:00</td>
      <td>609814.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2022-07-28 13:00:00</td>
      <td>579521.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2022-07-28 12:00:00</td>
      <td>593705.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2022-07-28 11:00:00</td>
      <td>593720.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2022-07-28 10:00:00</td>
      <td>575163.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2022-07-28 09:00:00</td>
      <td>658072.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2022-07-28 08:00:00</td>
      <td>613554.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2022-07-28 07:00:00</td>
      <td>633604.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2022-07-28 06:00:00</td>
      <td>509248.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2022-07-28 05:00:00</td>
      <td>393971.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2022-07-28 04:00:00</td>
      <td>276647.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2022-07-28 03:00:00</td>
      <td>216349.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>32</th>
      <td>2022-07-28 02:00:00</td>
      <td>179286.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>33</th>
      <td>2022-07-28 01:00:00</td>
      <td>180687.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2022-07-28 00:00:00</td>
      <td>235321.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>35</th>
      <td>2022-07-27 23:00:00</td>
      <td>331198.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36</th>
      <td>2022-07-27 22:00:00</td>
      <td>464710.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>37</th>
      <td>2022-07-27 21:00:00</td>
      <td>505993.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38</th>
      <td>2022-07-27 20:00:00</td>
      <td>514783.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>39</th>
      <td>2022-07-27 19:00:00</td>
      <td>509319.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2022-07-27 18:00:00</td>
      <td>552120.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2022-07-27 17:00:00</td>
      <td>597452.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2022-07-27 16:00:00</td>
      <td>629264.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2022-07-27 15:00:00</td>
      <td>668869.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2022-07-27 14:00:00</td>
      <td>594826.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2022-07-27 13:00:00</td>
      <td>639201.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2022-07-27 12:00:00</td>
      <td>611644.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2022-07-27 11:00:00</td>
      <td>617633.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2022-07-27 10:00:00</td>
      <td>553373.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2022-07-27 09:00:00</td>
      <td>560114.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2022-07-27 08:00:00</td>
      <td>616918.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2022-07-27 07:00:00</td>
      <td>562392.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2022-07-27 06:00:00</td>
      <td>475746.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2022-07-27 05:00:00</td>
      <td>371695.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2022-07-27 04:00:00</td>
      <td>279321.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2022-07-27 03:00:00</td>
      <td>215257.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2022-07-27 02:00:00</td>
      <td>182584.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2022-07-27 01:00:00</td>
      <td>184008.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2022-07-27 00:00:00</td>
      <td>265994.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2022-07-26 23:00:00</td>
      <td>369012.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2022-07-26 22:00:00</td>
      <td>524631.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>61</th>
      <td>2022-07-26 21:00:00</td>
      <td>536314.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>62</th>
      <td>2022-07-26 20:00:00</td>
      <td>540971.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>63</th>
      <td>2022-07-26 19:00:00</td>
      <td>538682.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>64</th>
      <td>2022-07-26 18:00:00</td>
      <td>636811.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>65</th>
      <td>2022-07-26 17:00:00</td>
      <td>642527.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>66</th>
      <td>2022-07-26 16:00:00</td>
      <td>571737.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>67</th>
      <td>2022-07-26 15:00:00</td>
      <td>759543.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2022-07-26 14:00:00</td>
      <td>730608.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>69</th>
      <td>2022-07-26 13:00:00</td>
      <td>742657.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>70</th>
      <td>2022-07-26 12:00:00</td>
      <td>801669.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>71</th>
      <td>2022-07-26 11:00:00</td>
      <td>755307.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>72</th>
      <td>2022-07-26 10:00:00</td>
      <td>643693.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>73</th>
      <td>2022-07-26 09:00:00</td>
      <td>614777.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>74</th>
      <td>2022-07-26 08:00:00</td>
      <td>570625.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2022-07-26 07:00:00</td>
      <td>563678.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>76</th>
      <td>2022-07-26 06:00:00</td>
      <td>466058.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>77</th>
      <td>2022-07-26 05:00:00</td>
      <td>363500.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>78</th>
      <td>2022-07-26 04:00:00</td>
      <td>267308.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>79</th>
      <td>2022-07-26 03:00:00</td>
      <td>184574.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2022-07-26 02:00:00</td>
      <td>154027.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>81</th>
      <td>2022-07-26 01:00:00</td>
      <td>139782.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>82</th>
      <td>2022-07-26 00:00:00</td>
      <td>193731.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>83</th>
      <td>2022-07-25 23:00:00</td>
      <td>217708.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>84</th>
      <td>2022-07-25 22:00:00</td>
      <td>279399.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>85</th>
      <td>2022-07-25 21:00:00</td>
      <td>324973.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>86</th>
      <td>2022-07-25 20:00:00</td>
      <td>318074.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>87</th>
      <td>2022-07-25 19:00:00</td>
      <td>323425.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>88</th>
      <td>2022-07-25 18:00:00</td>
      <td>354848.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>89</th>
      <td>2022-07-25 17:00:00</td>
      <td>357258.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>90</th>
      <td>2022-07-25 16:00:00</td>
      <td>319856.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>91</th>
      <td>2022-07-25 15:00:00</td>
      <td>383465.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>92</th>
      <td>2022-07-25 14:00:00</td>
      <td>387087.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>93</th>
      <td>2022-07-25 13:00:00</td>
      <td>381351.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>94</th>
      <td>2022-07-25 12:00:00</td>
      <td>335045.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>95</th>
      <td>2022-07-25 11:00:00</td>
      <td>366540.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>96</th>
      <td>2022-07-25 10:00:00</td>
      <td>363908.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>97</th>
      <td>2022-07-25 09:00:00</td>
      <td>369753.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>98</th>
      <td>2022-07-25 08:00:00</td>
      <td>362281.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>99</th>
      <td>2022-07-25 07:00:00</td>
      <td>341484.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>100</th>
      <td>2022-07-25 06:00:00</td>
      <td>296797.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>101</th>
      <td>2022-07-25 05:00:00</td>
      <td>230562.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>102</th>
      <td>2022-07-25 04:00:00</td>
      <td>167978.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>103</th>
      <td>2022-07-25 03:00:00</td>
      <td>125566.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>104</th>
      <td>2022-07-25 02:00:00</td>
      <td>109420.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>105</th>
      <td>2022-07-25 01:00:00</td>
      <td>103177.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>106</th>
      <td>2022-07-25 00:00:00</td>
      <td>135927.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>107</th>
      <td>2022-07-24 23:00:00</td>
      <td>214047.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>108</th>
      <td>2022-07-24 22:00:00</td>
      <td>321584.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>109</th>
      <td>2022-07-24 21:00:00</td>
      <td>353991.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>110</th>
      <td>2022-07-24 20:00:00</td>
      <td>335073.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>111</th>
      <td>2022-07-24 19:00:00</td>
      <td>348093.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>112</th>
      <td>2022-07-24 18:00:00</td>
      <td>435654.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>113</th>
      <td>2022-07-24 17:00:00</td>
      <td>438007.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>114</th>
      <td>2022-07-24 16:00:00</td>
      <td>398017.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>115</th>
      <td>2022-07-24 15:00:00</td>
      <td>390252.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>116</th>
      <td>2022-07-24 14:00:00</td>
      <td>352156.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>117</th>
      <td>2022-07-24 13:00:00</td>
      <td>360355.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>118</th>
      <td>2022-07-24 12:00:00</td>
      <td>330555.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>119</th>
      <td>2022-07-24 11:00:00</td>
      <td>291480.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>120</th>
      <td>2022-07-24 10:00:00</td>
      <td>257841.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>121</th>
      <td>2022-07-24 09:00:00</td>
      <td>303520.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>122</th>
      <td>2022-07-24 08:00:00</td>
      <td>309731.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>123</th>
      <td>2022-07-24 07:00:00</td>
      <td>309771.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>124</th>
      <td>2022-07-24 06:00:00</td>
      <td>251807.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>125</th>
      <td>2022-07-24 05:00:00</td>
      <td>202295.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>126</th>
      <td>2022-07-24 04:00:00</td>
      <td>158436.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>127</th>
      <td>2022-07-24 03:00:00</td>
      <td>119895.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>128</th>
      <td>2022-07-24 02:00:00</td>
      <td>96062.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>129</th>
      <td>2022-07-24 01:00:00</td>
      <td>98230.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>130</th>
      <td>2022-07-24 00:00:00</td>
      <td>121825.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>131</th>
      <td>2022-07-23 23:00:00</td>
      <td>193169.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>132</th>
      <td>2022-07-23 22:00:00</td>
      <td>264403.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>133</th>
      <td>2022-07-23 21:00:00</td>
      <td>273675.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>134</th>
      <td>2022-07-23 20:00:00</td>
      <td>263206.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>135</th>
      <td>2022-07-23 19:00:00</td>
      <td>248680.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>136</th>
      <td>2022-07-23 18:00:00</td>
      <td>328520.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>137</th>
      <td>2022-07-23 17:00:00</td>
      <td>313887.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>138</th>
      <td>2022-07-23 16:00:00</td>
      <td>272536.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>139</th>
      <td>2022-07-23 15:00:00</td>
      <td>277518.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>140</th>
      <td>2022-07-23 14:00:00</td>
      <td>259790.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>141</th>
      <td>2022-07-23 13:00:00</td>
      <td>227369.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>142</th>
      <td>2022-07-23 12:00:00</td>
      <td>247993.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>143</th>
      <td>2022-07-23 11:00:00</td>
      <td>256789.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>144</th>
      <td>2022-07-23 10:00:00</td>
      <td>279880.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>145</th>
      <td>2022-07-23 09:00:00</td>
      <td>289425.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>146</th>
      <td>2022-07-23 08:00:00</td>
      <td>286868.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>147</th>
      <td>2022-07-23 07:00:00</td>
      <td>286803.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>148</th>
      <td>2022-07-23 06:00:00</td>
      <td>211274.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>149</th>
      <td>2022-07-23 05:00:00</td>
      <td>167434.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>150</th>
      <td>2022-07-23 04:00:00</td>
      <td>142174.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>151</th>
      <td>2022-07-23 03:00:00</td>
      <td>117284.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>152</th>
      <td>2022-07-23 02:00:00</td>
      <td>83498.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>153</th>
      <td>2022-07-23 01:00:00</td>
      <td>82792.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>154</th>
      <td>2022-07-23 00:00:00</td>
      <td>92921.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>155</th>
      <td>2022-07-22 23:00:00</td>
      <td>148925.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>156</th>
      <td>2022-07-22 22:00:00</td>
      <td>213571.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>157</th>
      <td>2022-07-22 21:00:00</td>
      <td>242023.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>158</th>
      <td>2022-07-22 20:00:00</td>
      <td>238240.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>159</th>
      <td>2022-07-22 19:00:00</td>
      <td>244392.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>160</th>
      <td>2022-07-22 18:00:00</td>
      <td>306638.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>161</th>
      <td>2022-07-22 17:00:00</td>
      <td>352406.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>162</th>
      <td>2022-07-22 16:00:00</td>
      <td>351758.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>163</th>
      <td>2022-07-22 15:00:00</td>
      <td>336663.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>164</th>
      <td>2022-07-22 14:00:00</td>
      <td>367247.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>165</th>
      <td>2022-07-22 13:00:00</td>
      <td>352715.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>166</th>
      <td>2022-07-22 12:00:00</td>
      <td>316053.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>167</th>
      <td>2022-07-22 11:00:00</td>
      <td>309726.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>168</th>
      <td>2022-07-22 10:00:00</td>
      <td>310145.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>169</th>
      <td>2022-07-22 09:00:00</td>
      <td>316227.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>170</th>
      <td>2022-07-22 08:00:00</td>
      <td>289169.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>171</th>
      <td>2022-07-22 07:00:00</td>
      <td>269527.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>172</th>
      <td>2022-07-22 06:00:00</td>
      <td>226570.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>173</th>
      <td>2022-07-22 05:00:00</td>
      <td>188255.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>174</th>
      <td>2022-07-22 04:00:00</td>
      <td>148361.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>175</th>
      <td>2022-07-22 03:00:00</td>
      <td>105685.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>176</th>
      <td>2022-07-22 02:00:00</td>
      <td>87133.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>177</th>
      <td>2022-07-22 01:00:00</td>
      <td>85403.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>178</th>
      <td>2022-07-22 00:00:00</td>
      <td>104023.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>179</th>
      <td>2022-07-21 23:00:00</td>
      <td>146329.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>180</th>
      <td>2022-07-21 22:00:00</td>
      <td>197418.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>181</th>
      <td>2022-07-21 21:00:00</td>
      <td>236895.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>182</th>
      <td>2022-07-21 20:00:00</td>
      <td>257179.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>183</th>
      <td>2022-07-21 19:00:00</td>
      <td>314447.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>184</th>
      <td>2022-07-21 18:00:00</td>
      <td>353819.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>185</th>
      <td>2022-07-21 17:00:00</td>
      <td>325706.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>186</th>
      <td>2022-07-21 16:00:00</td>
      <td>382279.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>187</th>
      <td>2022-07-21 15:00:00</td>
      <td>413666.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>188</th>
      <td>2022-07-21 14:00:00</td>
      <td>360761.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>189</th>
      <td>2022-07-21 13:00:00</td>
      <td>305670.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>190</th>
      <td>2022-07-21 12:00:00</td>
      <td>330130.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>191</th>
      <td>2022-07-21 11:00:00</td>
      <td>333337.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>192</th>
      <td>2022-07-21 10:00:00</td>
      <td>368805.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>193</th>
      <td>2022-07-21 09:00:00</td>
      <td>330519.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>194</th>
      <td>2022-07-21 08:00:00</td>
      <td>335453.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>195</th>
      <td>2022-07-21 07:00:00</td>
      <td>307944.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>196</th>
      <td>2022-07-21 06:00:00</td>
      <td>248320.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>197</th>
      <td>2022-07-21 05:00:00</td>
      <td>182745.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>198</th>
      <td>2022-07-21 04:00:00</td>
      <td>137061.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>199</th>
      <td>2022-07-21 03:00:00</td>
      <td>103464.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>200</th>
      <td>2022-07-21 02:00:00</td>
      <td>79528.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>201</th>
      <td>2022-07-21 01:00:00</td>
      <td>82318.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>202</th>
      <td>2022-07-21 00:00:00</td>
      <td>103207.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>203</th>
      <td>2022-07-20 23:00:00</td>
      <td>155661.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>204</th>
      <td>2022-07-20 22:00:00</td>
      <td>204210.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>205</th>
      <td>2022-07-20 21:00:00</td>
      <td>242842.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>206</th>
      <td>2022-07-20 20:00:00</td>
      <td>266833.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>207</th>
      <td>2022-07-20 19:00:00</td>
      <td>284810.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>208</th>
      <td>2022-07-20 18:00:00</td>
      <td>395282.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>209</th>
      <td>2022-07-20 17:00:00</td>
      <td>388050.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>210</th>
      <td>2022-07-20 16:00:00</td>
      <td>352903.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>211</th>
      <td>2022-07-20 15:00:00</td>
      <td>358940.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>212</th>
      <td>2022-07-20 14:00:00</td>
      <td>385589.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>213</th>
      <td>2022-07-20 13:00:00</td>
      <td>353047.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>214</th>
      <td>2022-07-20 12:00:00</td>
      <td>343792.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>215</th>
      <td>2022-07-20 11:00:00</td>
      <td>333176.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>216</th>
      <td>2022-07-20 10:00:00</td>
      <td>327248.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>217</th>
      <td>2022-07-20 09:00:00</td>
      <td>280188.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>218</th>
      <td>2022-07-20 08:00:00</td>
      <td>316353.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>219</th>
      <td>2022-07-20 07:00:00</td>
      <td>306626.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>220</th>
      <td>2022-07-20 06:00:00</td>
      <td>257910.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>221</th>
      <td>2022-07-20 05:00:00</td>
      <td>181228.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>222</th>
      <td>2022-07-20 04:00:00</td>
      <td>132930.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>223</th>
      <td>2022-07-20 03:00:00</td>
      <td>103352.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>224</th>
      <td>2022-07-20 02:00:00</td>
      <td>79464.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>225</th>
      <td>2022-07-20 01:00:00</td>
      <td>74615.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>226</th>
      <td>2022-07-20 00:00:00</td>
      <td>101555.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>227</th>
      <td>2022-07-19 23:00:00</td>
      <td>135003.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>228</th>
      <td>2022-07-19 22:00:00</td>
      <td>209880.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>229</th>
      <td>2022-07-19 21:00:00</td>
      <td>247576.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>230</th>
      <td>2022-07-19 20:00:00</td>
      <td>237326.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>231</th>
      <td>2022-07-19 19:00:00</td>
      <td>230898.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>232</th>
      <td>2022-07-19 18:00:00</td>
      <td>292408.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>233</th>
      <td>2022-07-19 17:00:00</td>
      <td>341202.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>234</th>
      <td>2022-07-19 16:00:00</td>
      <td>347988.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>235</th>
      <td>2022-07-19 15:00:00</td>
      <td>357028.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>236</th>
      <td>2022-07-19 14:00:00</td>
      <td>355699.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>237</th>
      <td>2022-07-19 13:00:00</td>
      <td>324781.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>238</th>
      <td>2022-07-19 12:00:00</td>
      <td>335606.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>239</th>
      <td>2022-07-19 11:00:00</td>
      <td>359010.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>240</th>
      <td>2022-07-19 10:00:00</td>
      <td>398972.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>241</th>
      <td>2022-07-19 09:00:00</td>
      <td>374665.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>242</th>
      <td>2022-07-29 10:00:00</td>
      <td>NaN</td>
      <td>600349.000000</td>
    </tr>
    <tr>
      <th>243</th>
      <td>2022-07-29 09:00:00</td>
      <td>NaN</td>
      <td>593658.967719</td>
    </tr>
    <tr>
      <th>244</th>
      <td>2022-07-29 08:00:00</td>
      <td>NaN</td>
      <td>620903.731377</td>
    </tr>
    <tr>
      <th>245</th>
      <td>2022-07-29 07:00:00</td>
      <td>NaN</td>
      <td>588036.304149</td>
    </tr>
    <tr>
      <th>246</th>
      <td>2022-07-29 06:00:00</td>
      <td>NaN</td>
      <td>493069.861462</td>
    </tr>
    <tr>
      <th>247</th>
      <td>2022-07-29 05:00:00</td>
      <td>NaN</td>
      <td>387847.874068</td>
    </tr>
    <tr>
      <th>248</th>
      <td>2022-07-29 04:00:00</td>
      <td>NaN</td>
      <td>253518.860735</td>
    </tr>
    <tr>
      <th>249</th>
      <td>2022-07-29 03:00:00</td>
      <td>NaN</td>
      <td>199409.954442</td>
    </tr>
    <tr>
      <th>250</th>
      <td>2022-07-29 02:00:00</td>
      <td>NaN</td>
      <td>168900.128060</td>
    </tr>
    <tr>
      <th>251</th>
      <td>2022-07-29 01:00:00</td>
      <td>NaN</td>
      <td>173966.018123</td>
    </tr>
    <tr>
      <th>252</th>
      <td>2022-07-29 00:00:00</td>
      <td>NaN</td>
      <td>219395.286677</td>
    </tr>
    <tr>
      <th>253</th>
      <td>2022-07-28 23:00:00</td>
      <td>NaN</td>
      <td>311677.351317</td>
    </tr>
    <tr>
      <th>254</th>
      <td>2022-07-28 22:00:00</td>
      <td>NaN</td>
      <td>414106.935884</td>
    </tr>
    <tr>
      <th>255</th>
      <td>2022-07-28 21:00:00</td>
      <td>NaN</td>
      <td>520899.125000</td>
    </tr>
    <tr>
      <th>256</th>
      <td>2022-07-28 20:00:00</td>
      <td>NaN</td>
      <td>460991.014257</td>
    </tr>
    <tr>
      <th>257</th>
      <td>2022-07-28 19:00:00</td>
      <td>NaN</td>
      <td>525422.196029</td>
    </tr>
    <tr>
      <th>258</th>
      <td>2022-07-28 18:00:00</td>
      <td>NaN</td>
      <td>554501.543473</td>
    </tr>
    <tr>
      <th>259</th>
      <td>2022-07-28 17:00:00</td>
      <td>NaN</td>
      <td>577380.389087</td>
    </tr>
    <tr>
      <th>260</th>
      <td>2022-07-28 16:00:00</td>
      <td>NaN</td>
      <td>579881.611061</td>
    </tr>
    <tr>
      <th>261</th>
      <td>2022-07-28 15:00:00</td>
      <td>NaN</td>
      <td>662789.966686</td>
    </tr>
    <tr>
      <th>262</th>
      <td>2022-07-28 14:00:00</td>
      <td>NaN</td>
      <td>606861.620331</td>
    </tr>
    <tr>
      <th>263</th>
      <td>2022-07-28 13:00:00</td>
      <td>NaN</td>
      <td>576546.837675</td>
    </tr>
    <tr>
      <th>264</th>
      <td>2022-07-28 12:00:00</td>
      <td>NaN</td>
      <td>590750.893145</td>
    </tr>
    <tr>
      <th>265</th>
      <td>2022-07-28 11:00:00</td>
      <td>NaN</td>
      <td>590797.816935</td>
    </tr>
    <tr>
      <th>266</th>
      <td>2022-07-28 10:00:00</td>
      <td>NaN</td>
      <td>572224.542052</td>
    </tr>
    <tr>
      <th>267</th>
      <td>2022-07-28 09:00:00</td>
      <td>NaN</td>
      <td>655503.149665</td>
    </tr>
    <tr>
      <th>268</th>
      <td>2022-07-28 08:00:00</td>
      <td>NaN</td>
      <td>611187.746963</td>
    </tr>
    <tr>
      <th>269</th>
      <td>2022-07-28 07:00:00</td>
      <td>NaN</td>
      <td>631543.860857</td>
    </tr>
    <tr>
      <th>270</th>
      <td>2022-07-28 06:00:00</td>
      <td>NaN</td>
      <td>507415.183917</td>
    </tr>
    <tr>
      <th>271</th>
      <td>2022-07-28 05:00:00</td>
      <td>NaN</td>
      <td>392327.963069</td>
    </tr>
    <tr>
      <th>272</th>
      <td>2022-07-28 04:00:00</td>
      <td>NaN</td>
      <td>275209.420459</td>
    </tr>
    <tr>
      <th>273</th>
      <td>2022-07-28 03:00:00</td>
      <td>NaN</td>
      <td>215081.266866</td>
    </tr>
    <tr>
      <th>274</th>
      <td>2022-07-28 02:00:00</td>
      <td>NaN</td>
      <td>178152.318375</td>
    </tr>
    <tr>
      <th>275</th>
      <td>2022-07-28 01:00:00</td>
      <td>NaN</td>
      <td>179659.313600</td>
    </tr>
    <tr>
      <th>276</th>
      <td>2022-07-28 00:00:00</td>
      <td>NaN</td>
      <td>234400.285379</td>
    </tr>
    <tr>
      <th>277</th>
      <td>2022-07-27 23:00:00</td>
      <td>NaN</td>
      <td>330375.365124</td>
    </tr>
    <tr>
      <th>278</th>
      <td>2022-07-27 22:00:00</td>
      <td>NaN</td>
      <td>464036.771940</td>
    </tr>
    <tr>
      <th>279</th>
      <td>2022-07-27 21:00:00</td>
      <td>NaN</td>
      <td>505317.920399</td>
    </tr>
    <tr>
      <th>280</th>
      <td>2022-07-27 20:00:00</td>
      <td>NaN</td>
      <td>514242.662213</td>
    </tr>
    <tr>
      <th>281</th>
      <td>2022-07-27 19:00:00</td>
      <td>NaN</td>
      <td>508753.112275</td>
    </tr>
    <tr>
      <th>282</th>
      <td>2022-07-27 18:00:00</td>
      <td>NaN</td>
      <td>551550.189755</td>
    </tr>
    <tr>
      <th>283</th>
      <td>2022-07-27 17:00:00</td>
      <td>NaN</td>
      <td>596918.832411</td>
    </tr>
    <tr>
      <th>284</th>
      <td>2022-07-27 16:00:00</td>
      <td>NaN</td>
      <td>628822.595162</td>
    </tr>
    <tr>
      <th>285</th>
      <td>2022-07-27 15:00:00</td>
      <td>NaN</td>
      <td>668421.046295</td>
    </tr>
    <tr>
      <th>286</th>
      <td>2022-07-27 14:00:00</td>
      <td>NaN</td>
      <td>594328.013199</td>
    </tr>
    <tr>
      <th>287</th>
      <td>2022-07-27 13:00:00</td>
      <td>NaN</td>
      <td>638808.246821</td>
    </tr>
    <tr>
      <th>288</th>
      <td>2022-07-27 12:00:00</td>
      <td>NaN</td>
      <td>611258.596556</td>
    </tr>
    <tr>
      <th>289</th>
      <td>2022-07-27 11:00:00</td>
      <td>NaN</td>
      <td>617263.154047</td>
    </tr>
    <tr>
      <th>290</th>
      <td>2022-07-27 10:00:00</td>
      <td>NaN</td>
      <td>552914.463729</td>
    </tr>
    <tr>
      <th>291</th>
      <td>2022-07-27 09:00:00</td>
      <td>NaN</td>
      <td>559416.316204</td>
    </tr>
    <tr>
      <th>292</th>
      <td>2022-07-27 08:00:00</td>
      <td>NaN</td>
      <td>616210.355107</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2022-07-27 07:00:00</td>
      <td>NaN</td>
      <td>561523.667923</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2022-07-27 06:00:00</td>
      <td>NaN</td>
      <td>474809.745580</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2022-07-27 05:00:00</td>
      <td>NaN</td>
      <td>370722.702539</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2022-07-27 04:00:00</td>
      <td>NaN</td>
      <td>278373.706709</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2022-07-27 03:00:00</td>
      <td>NaN</td>
      <td>214331.144514</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2022-07-27 02:00:00</td>
      <td>NaN</td>
      <td>181692.518842</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2022-07-27 01:00:00</td>
      <td>NaN</td>
      <td>183153.155438</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2022-07-27 00:00:00</td>
      <td>NaN</td>
      <td>265236.505986</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2022-07-26 23:00:00</td>
      <td>NaN</td>
      <td>368366.783217</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2022-07-26 22:00:00</td>
      <td>NaN</td>
      <td>524146.299709</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2022-07-26 21:00:00</td>
      <td>NaN</td>
      <td>535920.022310</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2022-07-26 20:00:00</td>
      <td>NaN</td>
      <td>540659.998047</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2022-07-26 19:00:00</td>
      <td>NaN</td>
      <td>538456.126166</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2022-07-26 18:00:00</td>
      <td>NaN</td>
      <td>636784.269327</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2022-07-26 17:00:00</td>
      <td>NaN</td>
      <td>642607.470451</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2022-07-26 16:00:00</td>
      <td>NaN</td>
      <td>571703.698049</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2022-07-26 15:00:00</td>
      <td>NaN</td>
      <td>759715.579082</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2022-07-26 14:00:00</td>
      <td>NaN</td>
      <td>731071.693455</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2022-07-26 13:00:00</td>
      <td>NaN</td>
      <td>743333.646240</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2022-07-26 12:00:00</td>
      <td>NaN</td>
      <td>802733.318997</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2022-07-26 11:00:00</td>
      <td>NaN</td>
      <td>756629.931370</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2022-07-26 10:00:00</td>
      <td>NaN</td>
      <td>645156.579832</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2022-07-26 09:00:00</td>
      <td>NaN</td>
      <td>616286.511319</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2022-07-26 08:00:00</td>
      <td>NaN</td>
      <td>571958.039078</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2022-07-26 07:00:00</td>
      <td>NaN</td>
      <td>564932.401542</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2022-07-26 06:00:00</td>
      <td>NaN</td>
      <td>467206.208473</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2022-07-26 05:00:00</td>
      <td>NaN</td>
      <td>364543.426747</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2022-07-26 04:00:00</td>
      <td>NaN</td>
      <td>268239.136557</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2022-07-26 03:00:00</td>
      <td>NaN</td>
      <td>185354.069489</td>
    </tr>
    <tr>
      <th>322</th>
      <td>2022-07-26 02:00:00</td>
      <td>NaN</td>
      <td>154663.968681</td>
    </tr>
    <tr>
      <th>323</th>
      <td>2022-07-26 01:00:00</td>
      <td>NaN</td>
      <td>140245.999925</td>
    </tr>
    <tr>
      <th>324</th>
      <td>2022-07-26 00:00:00</td>
      <td>NaN</td>
      <td>193969.655866</td>
    </tr>
    <tr>
      <th>325</th>
      <td>2022-07-25 23:00:00</td>
      <td>NaN</td>
      <td>217563.287949</td>
    </tr>
    <tr>
      <th>326</th>
      <td>2022-07-25 22:00:00</td>
      <td>NaN</td>
      <td>278690.030975</td>
    </tr>
    <tr>
      <th>327</th>
      <td>2022-07-25 21:00:00</td>
      <td>NaN</td>
      <td>323797.585437</td>
    </tr>
    <tr>
      <th>328</th>
      <td>2022-07-25 20:00:00</td>
      <td>NaN</td>
      <td>316430.078969</td>
    </tr>
    <tr>
      <th>329</th>
      <td>2022-07-25 19:00:00</td>
      <td>NaN</td>
      <td>321352.836814</td>
    </tr>
    <tr>
      <th>330</th>
      <td>2022-07-25 18:00:00</td>
      <td>NaN</td>
      <td>352233.023779</td>
    </tr>
    <tr>
      <th>331</th>
      <td>2022-07-25 17:00:00</td>
      <td>NaN</td>
      <td>354123.457771</td>
    </tr>
    <tr>
      <th>332</th>
      <td>2022-07-25 16:00:00</td>
      <td>NaN</td>
      <td>316295.515641</td>
    </tr>
    <tr>
      <th>333</th>
      <td>2022-07-25 15:00:00</td>
      <td>NaN</td>
      <td>379245.006632</td>
    </tr>
    <tr>
      <th>334</th>
      <td>2022-07-25 14:00:00</td>
      <td>NaN</td>
      <td>382322.631245</td>
    </tr>
    <tr>
      <th>335</th>
      <td>2022-07-25 13:00:00</td>
      <td>NaN</td>
      <td>376044.314960</td>
    </tr>
    <tr>
      <th>336</th>
      <td>2022-07-25 12:00:00</td>
      <td>NaN</td>
      <td>329019.352945</td>
    </tr>
    <tr>
      <th>337</th>
      <td>2022-07-25 11:00:00</td>
      <td>NaN</td>
      <td>360014.035519</td>
    </tr>
    <tr>
      <th>338</th>
      <td>2022-07-25 10:00:00</td>
      <td>NaN</td>
      <td>357155.608877</td>
    </tr>
    <tr>
      <th>339</th>
      <td>2022-07-25 09:00:00</td>
      <td>NaN</td>
      <td>362876.328954</td>
    </tr>
    <tr>
      <th>340</th>
      <td>2022-07-25 08:00:00</td>
      <td>NaN</td>
      <td>355374.284235</td>
    </tr>
    <tr>
      <th>341</th>
      <td>2022-07-25 07:00:00</td>
      <td>NaN</td>
      <td>334533.408142</td>
    </tr>
    <tr>
      <th>342</th>
      <td>2022-07-25 06:00:00</td>
      <td>NaN</td>
      <td>289930.697654</td>
    </tr>
    <tr>
      <th>343</th>
      <td>2022-07-25 05:00:00</td>
      <td>NaN</td>
      <td>223867.448478</td>
    </tr>
    <tr>
      <th>344</th>
      <td>2022-07-25 04:00:00</td>
      <td>NaN</td>
      <td>161532.652725</td>
    </tr>
    <tr>
      <th>345</th>
      <td>2022-07-25 03:00:00</td>
      <td>NaN</td>
      <td>119456.443317</td>
    </tr>
    <tr>
      <th>346</th>
      <td>2022-07-25 02:00:00</td>
      <td>NaN</td>
      <td>103673.437342</td>
    </tr>
    <tr>
      <th>347</th>
      <td>2022-07-25 01:00:00</td>
      <td>NaN</td>
      <td>97803.715459</td>
    </tr>
    <tr>
      <th>348</th>
      <td>2022-07-25 00:00:00</td>
      <td>NaN</td>
      <td>130871.372972</td>
    </tr>
    <tr>
      <th>349</th>
      <td>2022-07-24 23:00:00</td>
      <td>NaN</td>
      <td>209409.216172</td>
    </tr>
    <tr>
      <th>350</th>
      <td>2022-07-24 22:00:00</td>
      <td>NaN</td>
      <td>317434.103639</td>
    </tr>
    <tr>
      <th>351</th>
      <td>2022-07-24 21:00:00</td>
      <td>NaN</td>
      <td>350271.843408</td>
    </tr>
    <tr>
      <th>352</th>
      <td>2022-07-24 20:00:00</td>
      <td>NaN</td>
      <td>331730.071013</td>
    </tr>
    <tr>
      <th>353</th>
      <td>2022-07-24 19:00:00</td>
      <td>NaN</td>
      <td>345115.633434</td>
    </tr>
    <tr>
      <th>354</th>
      <td>2022-07-24 18:00:00</td>
      <td>NaN</td>
      <td>433129.365217</td>
    </tr>
    <tr>
      <th>355</th>
      <td>2022-07-24 17:00:00</td>
      <td>NaN</td>
      <td>435897.716869</td>
    </tr>
    <tr>
      <th>356</th>
      <td>2022-07-24 16:00:00</td>
      <td>NaN</td>
      <td>396283.282075</td>
    </tr>
    <tr>
      <th>357</th>
      <td>2022-07-24 15:00:00</td>
      <td>NaN</td>
      <td>388698.091076</td>
    </tr>
    <tr>
      <th>358</th>
      <td>2022-07-24 14:00:00</td>
      <td>NaN</td>
      <td>350659.524572</td>
    </tr>
    <tr>
      <th>359</th>
      <td>2022-07-24 13:00:00</td>
      <td>NaN</td>
      <td>358915.870956</td>
    </tr>
    <tr>
      <th>360</th>
      <td>2022-07-24 12:00:00</td>
      <td>NaN</td>
      <td>329170.608714</td>
    </tr>
    <tr>
      <th>361</th>
      <td>2022-07-24 11:00:00</td>
      <td>NaN</td>
      <td>289968.596574</td>
    </tr>
    <tr>
      <th>362</th>
      <td>2022-07-24 10:00:00</td>
      <td>NaN</td>
      <td>256121.881723</td>
    </tr>
    <tr>
      <th>363</th>
      <td>2022-07-24 09:00:00</td>
      <td>NaN</td>
      <td>301670.653704</td>
    </tr>
    <tr>
      <th>364</th>
      <td>2022-07-24 08:00:00</td>
      <td>NaN</td>
      <td>307773.726342</td>
    </tr>
    <tr>
      <th>365</th>
      <td>2022-07-24 07:00:00</td>
      <td>NaN</td>
      <td>307742.163670</td>
    </tr>
    <tr>
      <th>366</th>
      <td>2022-07-24 06:00:00</td>
      <td>NaN</td>
      <td>249673.684529</td>
    </tr>
    <tr>
      <th>367</th>
      <td>2022-07-24 05:00:00</td>
      <td>NaN</td>
      <td>200093.336668</td>
    </tr>
    <tr>
      <th>368</th>
      <td>2022-07-24 04:00:00</td>
      <td>NaN</td>
      <td>156208.482657</td>
    </tr>
    <tr>
      <th>369</th>
      <td>2022-07-24 03:00:00</td>
      <td>NaN</td>
      <td>117654.674563</td>
    </tr>
    <tr>
      <th>370</th>
      <td>2022-07-24 02:00:00</td>
      <td>NaN</td>
      <td>93798.517891</td>
    </tr>
    <tr>
      <th>371</th>
      <td>2022-07-24 01:00:00</td>
      <td>NaN</td>
      <td>95968.995986</td>
    </tr>
    <tr>
      <th>372</th>
      <td>2022-07-24 00:00:00</td>
      <td>NaN</td>
      <td>119552.296244</td>
    </tr>
    <tr>
      <th>373</th>
      <td>2022-07-23 23:00:00</td>
      <td>NaN</td>
      <td>190880.561243</td>
    </tr>
    <tr>
      <th>374</th>
      <td>2022-07-23 22:00:00</td>
      <td>NaN</td>
      <td>262035.495030</td>
    </tr>
    <tr>
      <th>375</th>
      <td>2022-07-23 21:00:00</td>
      <td>NaN</td>
      <td>271194.660065</td>
    </tr>
    <tr>
      <th>376</th>
      <td>2022-07-23 20:00:00</td>
      <td>NaN</td>
      <td>260646.864049</td>
    </tr>
    <tr>
      <th>377</th>
      <td>2022-07-23 19:00:00</td>
      <td>NaN</td>
      <td>245998.518192</td>
    </tr>
    <tr>
      <th>378</th>
      <td>2022-07-23 18:00:00</td>
      <td>NaN</td>
      <td>325720.977633</td>
    </tr>
    <tr>
      <th>379</th>
      <td>2022-07-23 17:00:00</td>
      <td>NaN</td>
      <td>310955.069303</td>
    </tr>
    <tr>
      <th>380</th>
      <td>2022-07-23 16:00:00</td>
      <td>NaN</td>
      <td>269489.395303</td>
    </tr>
    <tr>
      <th>381</th>
      <td>2022-07-23 15:00:00</td>
      <td>NaN</td>
      <td>274397.967990</td>
    </tr>
    <tr>
      <th>382</th>
      <td>2022-07-23 14:00:00</td>
      <td>NaN</td>
      <td>256648.362816</td>
    </tr>
    <tr>
      <th>383</th>
      <td>2022-07-23 13:00:00</td>
      <td>NaN</td>
      <td>224125.548719</td>
    </tr>
    <tr>
      <th>384</th>
      <td>2022-07-23 12:00:00</td>
      <td>NaN</td>
      <td>244765.220014</td>
    </tr>
    <tr>
      <th>385</th>
      <td>2022-07-23 11:00:00</td>
      <td>NaN</td>
      <td>253677.601652</td>
    </tr>
    <tr>
      <th>386</th>
      <td>2022-07-23 10:00:00</td>
      <td>NaN</td>
      <td>276997.173836</td>
    </tr>
    <tr>
      <th>387</th>
      <td>2022-07-23 09:00:00</td>
      <td>NaN</td>
      <td>286682.399773</td>
    </tr>
    <tr>
      <th>388</th>
      <td>2022-07-23 08:00:00</td>
      <td>NaN</td>
      <td>284239.351635</td>
    </tr>
    <tr>
      <th>389</th>
      <td>2022-07-23 07:00:00</td>
      <td>NaN</td>
      <td>284282.440707</td>
    </tr>
    <tr>
      <th>390</th>
      <td>2022-07-23 06:00:00</td>
      <td>NaN</td>
      <td>208816.971654</td>
    </tr>
    <tr>
      <th>391</th>
      <td>2022-07-23 05:00:00</td>
      <td>NaN</td>
      <td>165048.277158</td>
    </tr>
    <tr>
      <th>392</th>
      <td>2022-07-23 04:00:00</td>
      <td>NaN</td>
      <td>139895.984186</td>
    </tr>
    <tr>
      <th>393</th>
      <td>2022-07-23 03:00:00</td>
      <td>NaN</td>
      <td>115138.352288</td>
    </tr>
    <tr>
      <th>394</th>
      <td>2022-07-23 02:00:00</td>
      <td>NaN</td>
      <td>81457.337840</td>
    </tr>
    <tr>
      <th>395</th>
      <td>2022-07-23 01:00:00</td>
      <td>NaN</td>
      <td>80845.803347</td>
    </tr>
    <tr>
      <th>396</th>
      <td>2022-07-23 00:00:00</td>
      <td>NaN</td>
      <td>91035.797025</td>
    </tr>
    <tr>
      <th>397</th>
      <td>2022-07-22 23:00:00</td>
      <td>NaN</td>
      <td>147064.284484</td>
    </tr>
    <tr>
      <th>398</th>
      <td>2022-07-22 22:00:00</td>
      <td>NaN</td>
      <td>211715.844411</td>
    </tr>
    <tr>
      <th>399</th>
      <td>2022-07-22 21:00:00</td>
      <td>NaN</td>
      <td>240208.749917</td>
    </tr>
    <tr>
      <th>400</th>
      <td>2022-07-22 20:00:00</td>
      <td>NaN</td>
      <td>236474.945863</td>
    </tr>
    <tr>
      <th>401</th>
      <td>2022-07-22 19:00:00</td>
      <td>NaN</td>
      <td>242712.058305</td>
    </tr>
    <tr>
      <th>402</th>
      <td>2022-07-22 18:00:00</td>
      <td>NaN</td>
      <td>304995.740285</td>
    </tr>
    <tr>
      <th>403</th>
      <td>2022-07-22 17:00:00</td>
      <td>NaN</td>
      <td>350921.416791</td>
    </tr>
    <tr>
      <th>404</th>
      <td>2022-07-22 16:00:00</td>
      <td>NaN</td>
      <td>350504.529137</td>
    </tr>
    <tr>
      <th>405</th>
      <td>2022-07-22 15:00:00</td>
      <td>NaN</td>
      <td>335582.335061</td>
    </tr>
    <tr>
      <th>406</th>
      <td>2022-07-22 14:00:00</td>
      <td>NaN</td>
      <td>366430.530585</td>
    </tr>
    <tr>
      <th>407</th>
      <td>2022-07-22 13:00:00</td>
      <td>NaN</td>
      <td>352182.004981</td>
    </tr>
    <tr>
      <th>408</th>
      <td>2022-07-22 12:00:00</td>
      <td>NaN</td>
      <td>315665.166471</td>
    </tr>
    <tr>
      <th>409</th>
      <td>2022-07-22 11:00:00</td>
      <td>NaN</td>
      <td>309443.876524</td>
    </tr>
    <tr>
      <th>410</th>
      <td>2022-07-22 10:00:00</td>
      <td>NaN</td>
      <td>309918.820212</td>
    </tr>
    <tr>
      <th>411</th>
      <td>2022-07-22 09:00:00</td>
      <td>NaN</td>
      <td>316046.910265</td>
    </tr>
    <tr>
      <th>412</th>
      <td>2022-07-22 08:00:00</td>
      <td>NaN</td>
      <td>288979.801583</td>
    </tr>
    <tr>
      <th>413</th>
      <td>2022-07-22 07:00:00</td>
      <td>NaN</td>
      <td>269286.151362</td>
    </tr>
    <tr>
      <th>414</th>
      <td>2022-07-22 06:00:00</td>
      <td>NaN</td>
      <td>226346.571821</td>
    </tr>
    <tr>
      <th>415</th>
      <td>2022-07-22 05:00:00</td>
      <td>NaN</td>
      <td>188058.074227</td>
    </tr>
    <tr>
      <th>416</th>
      <td>2022-07-22 04:00:00</td>
      <td>NaN</td>
      <td>148157.752415</td>
    </tr>
    <tr>
      <th>417</th>
      <td>2022-07-22 03:00:00</td>
      <td>NaN</td>
      <td>105438.311170</td>
    </tr>
    <tr>
      <th>418</th>
      <td>2022-07-22 02:00:00</td>
      <td>NaN</td>
      <td>86877.001034</td>
    </tr>
    <tr>
      <th>419</th>
      <td>2022-07-22 01:00:00</td>
      <td>NaN</td>
      <td>85135.649961</td>
    </tr>
    <tr>
      <th>420</th>
      <td>2022-07-22 00:00:00</td>
      <td>NaN</td>
      <td>103761.602026</td>
    </tr>
    <tr>
      <th>421</th>
      <td>2022-07-21 23:00:00</td>
      <td>NaN</td>
      <td>146041.545725</td>
    </tr>
    <tr>
      <th>422</th>
      <td>2022-07-21 22:00:00</td>
      <td>NaN</td>
      <td>197073.388704</td>
    </tr>
    <tr>
      <th>423</th>
      <td>2022-07-21 21:00:00</td>
      <td>NaN</td>
      <td>236517.285152</td>
    </tr>
    <tr>
      <th>424</th>
      <td>2022-07-21 20:00:00</td>
      <td>NaN</td>
      <td>256819.639326</td>
    </tr>
    <tr>
      <th>425</th>
      <td>2022-07-21 19:00:00</td>
      <td>NaN</td>
      <td>314214.679377</td>
    </tr>
    <tr>
      <th>426</th>
      <td>2022-07-21 18:00:00</td>
      <td>NaN</td>
      <td>353658.381677</td>
    </tr>
    <tr>
      <th>427</th>
      <td>2022-07-21 17:00:00</td>
      <td>NaN</td>
      <td>325459.447898</td>
    </tr>
    <tr>
      <th>428</th>
      <td>2022-07-21 16:00:00</td>
      <td>NaN</td>
      <td>382078.134689</td>
    </tr>
    <tr>
      <th>429</th>
      <td>2022-07-21 15:00:00</td>
      <td>NaN</td>
      <td>413612.667848</td>
    </tr>
    <tr>
      <th>430</th>
      <td>2022-07-21 14:00:00</td>
      <td>NaN</td>
      <td>360679.189939</td>
    </tr>
    <tr>
      <th>431</th>
      <td>2022-07-21 13:00:00</td>
      <td>NaN</td>
      <td>305483.434340</td>
    </tr>
    <tr>
      <th>432</th>
      <td>2022-07-21 12:00:00</td>
      <td>NaN</td>
      <td>329977.973362</td>
    </tr>
    <tr>
      <th>433</th>
      <td>2022-07-21 11:00:00</td>
      <td>NaN</td>
      <td>333242.078945</td>
    </tr>
    <tr>
      <th>434</th>
      <td>2022-07-21 10:00:00</td>
      <td>NaN</td>
      <td>368841.576793</td>
    </tr>
    <tr>
      <th>435</th>
      <td>2022-07-21 09:00:00</td>
      <td>NaN</td>
      <td>330588.523619</td>
    </tr>
    <tr>
      <th>436</th>
      <td>2022-07-21 08:00:00</td>
      <td>NaN</td>
      <td>335621.643247</td>
    </tr>
    <tr>
      <th>437</th>
      <td>2022-07-21 07:00:00</td>
      <td>NaN</td>
      <td>308188.453691</td>
    </tr>
    <tr>
      <th>438</th>
      <td>2022-07-21 06:00:00</td>
      <td>NaN</td>
      <td>248601.414792</td>
    </tr>
    <tr>
      <th>439</th>
      <td>2022-07-21 05:00:00</td>
      <td>NaN</td>
      <td>183003.693980</td>
    </tr>
    <tr>
      <th>440</th>
      <td>2022-07-21 04:00:00</td>
      <td>NaN</td>
      <td>137284.262738</td>
    </tr>
    <tr>
      <th>441</th>
      <td>2022-07-21 03:00:00</td>
      <td>NaN</td>
      <td>103670.000851</td>
    </tr>
    <tr>
      <th>442</th>
      <td>2022-07-21 02:00:00</td>
      <td>NaN</td>
      <td>79704.579657</td>
    </tr>
    <tr>
      <th>443</th>
      <td>2022-07-21 01:00:00</td>
      <td>NaN</td>
      <td>82474.574745</td>
    </tr>
    <tr>
      <th>444</th>
      <td>2022-07-21 00:00:00</td>
      <td>NaN</td>
      <td>103348.498940</td>
    </tr>
    <tr>
      <th>445</th>
      <td>2022-07-20 23:00:00</td>
      <td>NaN</td>
      <td>155807.812187</td>
    </tr>
    <tr>
      <th>446</th>
      <td>2022-07-20 22:00:00</td>
      <td>NaN</td>
      <td>204353.393345</td>
    </tr>
    <tr>
      <th>447</th>
      <td>2022-07-20 21:00:00</td>
      <td>NaN</td>
      <td>242977.996657</td>
    </tr>
    <tr>
      <th>448</th>
      <td>2022-07-20 20:00:00</td>
      <td>NaN</td>
      <td>266969.399910</td>
    </tr>
    <tr>
      <th>449</th>
      <td>2022-07-20 19:00:00</td>
      <td>NaN</td>
      <td>284866.678468</td>
    </tr>
    <tr>
      <th>450</th>
      <td>2022-07-20 18:00:00</td>
      <td>NaN</td>
      <td>395415.924473</td>
    </tr>
    <tr>
      <th>451</th>
      <td>2022-07-20 17:00:00</td>
      <td>NaN</td>
      <td>388298.905803</td>
    </tr>
    <tr>
      <th>452</th>
      <td>2022-07-20 16:00:00</td>
      <td>NaN</td>
      <td>353067.348000</td>
    </tr>
    <tr>
      <th>453</th>
      <td>2022-07-20 15:00:00</td>
      <td>NaN</td>
      <td>358973.731007</td>
    </tr>
    <tr>
      <th>454</th>
      <td>2022-07-20 14:00:00</td>
      <td>NaN</td>
      <td>385665.684720</td>
    </tr>
    <tr>
      <th>455</th>
      <td>2022-07-20 13:00:00</td>
      <td>NaN</td>
      <td>353208.815501</td>
    </tr>
    <tr>
      <th>456</th>
      <td>2022-07-20 12:00:00</td>
      <td>NaN</td>
      <td>343964.285856</td>
    </tr>
    <tr>
      <th>457</th>
      <td>2022-07-20 11:00:00</td>
      <td>NaN</td>
      <td>333330.326821</td>
    </tr>
    <tr>
      <th>458</th>
      <td>2022-07-20 10:00:00</td>
      <td>NaN</td>
      <td>327301.144806</td>
    </tr>
    <tr>
      <th>459</th>
      <td>2022-07-20 09:00:00</td>
      <td>NaN</td>
      <td>280126.306462</td>
    </tr>
    <tr>
      <th>460</th>
      <td>2022-07-20 08:00:00</td>
      <td>NaN</td>
      <td>316251.588824</td>
    </tr>
    <tr>
      <th>461</th>
      <td>2022-07-20 07:00:00</td>
      <td>NaN</td>
      <td>306527.819864</td>
    </tr>
    <tr>
      <th>462</th>
      <td>2022-07-20 06:00:00</td>
      <td>NaN</td>
      <td>257840.358988</td>
    </tr>
    <tr>
      <th>463</th>
      <td>2022-07-20 05:00:00</td>
      <td>NaN</td>
      <td>181161.978018</td>
    </tr>
    <tr>
      <th>464</th>
      <td>2022-07-20 04:00:00</td>
      <td>NaN</td>
      <td>132861.220333</td>
    </tr>
    <tr>
      <th>465</th>
      <td>2022-07-20 03:00:00</td>
      <td>NaN</td>
      <td>103289.114620</td>
    </tr>
    <tr>
      <th>466</th>
      <td>2022-07-20 02:00:00</td>
      <td>NaN</td>
      <td>79406.339237</td>
    </tr>
    <tr>
      <th>467</th>
      <td>2022-07-20 01:00:00</td>
      <td>NaN</td>
      <td>74545.791497</td>
    </tr>
    <tr>
      <th>468</th>
      <td>2022-07-20 00:00:00</td>
      <td>NaN</td>
      <td>101487.511385</td>
    </tr>
    <tr>
      <th>469</th>
      <td>2022-07-19 23:00:00</td>
      <td>NaN</td>
      <td>134897.233066</td>
    </tr>
    <tr>
      <th>470</th>
      <td>2022-07-19 22:00:00</td>
      <td>NaN</td>
      <td>209794.038231</td>
    </tr>
    <tr>
      <th>471</th>
      <td>2022-07-19 21:00:00</td>
      <td>NaN</td>
      <td>247507.297596</td>
    </tr>
    <tr>
      <th>472</th>
      <td>2022-07-19 20:00:00</td>
      <td>NaN</td>
      <td>237201.240414</td>
    </tr>
    <tr>
      <th>473</th>
      <td>2022-07-19 19:00:00</td>
      <td>NaN</td>
      <td>131410.189101</td>
    </tr>
    <tr>
      <th>474</th>
      <td>2022-07-19 19:00:00</td>
      <td>NaN</td>
      <td>230664.729427</td>
    </tr>
    <tr>
      <th>475</th>
      <td>2022-07-19 18:00:00</td>
      <td>NaN</td>
      <td>291969.375719</td>
    </tr>
    <tr>
      <th>476</th>
      <td>2022-07-19 18:00:00</td>
      <td>NaN</td>
      <td>97236.720146</td>
    </tr>
    <tr>
      <th>477</th>
      <td>2022-07-19 17:00:00</td>
      <td>NaN</td>
      <td>70283.657448</td>
    </tr>
    <tr>
      <th>478</th>
      <td>2022-07-19 17:00:00</td>
      <td>NaN</td>
      <td>340691.082339</td>
    </tr>
    <tr>
      <th>479</th>
      <td>2022-07-19 16:00:00</td>
      <td>NaN</td>
      <td>347495.478707</td>
    </tr>
    <tr>
      <th>480</th>
      <td>2022-07-19 16:00:00</td>
      <td>NaN</td>
      <td>74894.262855</td>
    </tr>
    <tr>
      <th>481</th>
      <td>2022-07-19 15:00:00</td>
      <td>NaN</td>
      <td>356556.008966</td>
    </tr>
    <tr>
      <th>482</th>
      <td>2022-07-19 15:00:00</td>
      <td>NaN</td>
      <td>98838.096545</td>
    </tr>
    <tr>
      <th>483</th>
      <td>2022-07-19 14:00:00</td>
      <td>NaN</td>
      <td>355189.735511</td>
    </tr>
    <tr>
      <th>484</th>
      <td>2022-07-19 14:00:00</td>
      <td>NaN</td>
      <td>128477.992201</td>
    </tr>
    <tr>
      <th>485</th>
      <td>2022-07-19 13:00:00</td>
      <td>NaN</td>
      <td>176686.173647</td>
    </tr>
    <tr>
      <th>486</th>
      <td>2022-07-19 13:00:00</td>
      <td>NaN</td>
      <td>324243.846961</td>
    </tr>
    <tr>
      <th>487</th>
      <td>2022-07-19 12:00:00</td>
      <td>NaN</td>
      <td>253388.585627</td>
    </tr>
    <tr>
      <th>488</th>
      <td>2022-07-19 12:00:00</td>
      <td>NaN</td>
      <td>335086.787757</td>
    </tr>
    <tr>
      <th>489</th>
      <td>2022-07-19 11:00:00</td>
      <td>NaN</td>
      <td>302541.380686</td>
    </tr>
    <tr>
      <th>490</th>
      <td>2022-07-19 11:00:00</td>
      <td>NaN</td>
      <td>358581.475635</td>
    </tr>
    <tr>
      <th>491</th>
      <td>2022-07-19 10:00:00</td>
      <td>NaN</td>
      <td>398726.077493</td>
    </tr>
    <tr>
      <th>492</th>
      <td>2022-07-19 10:00:00</td>
      <td>NaN</td>
      <td>312250.095351</td>
    </tr>
    <tr>
      <th>493</th>
      <td>2022-07-19 09:00:00</td>
      <td>NaN</td>
      <td>374639.561002</td>
    </tr>
  </tbody>
</table>